<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <div>
      <v-data-table
        :headers="headPicked"
        :items="productOther"
        :sort-by="['rating']"
        :sort-desc="[false, true]"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            :src="`/api/v1/product-other/${item.item.image}`"
            max-width="100"
            max-height="100"
          ></v-img>
        </template>
        <template v-slot:[`item.discount`]="item">
          <input
            v-model="item.item.discount_promotion"
            type="text"
            style="border: 1px solid #000; width: 50px; text-align: center"
          />
          <v-btn @click="AddBeforeUpload(item.item)" icon>
            <v-icon>mdi mdi-pencil</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <v-col>
        <h2>เปอร์เซ็นลดราคาของสินค้า</h2>
        <table class="table-promotion-back">
          <tr>
            <th>ID</th>
            <th>Discount</th>
          </tr>
          <tr v-for="(item, i) in discountPromotion" :key="i">
            <td>{{ item.product_other_id }}</td>
            <td>{{ item.discount_other_promotion }}</td>
          </tr>
        </table>
      </v-col>
      <v-col>
        <v-btn
          @click="savePerPromotion()"
          style="border-radius: 0; background: #000; color: #fff"
          >Save</v-btn
        >
      </v-col>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      discountPromotion: [],
      snackAlert: false,
      textAlert: "",
      headPicked: [
        { text: "id", value: "id", align: "center" },

        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "color",
          value: "color",
        },
        {
          text: "size",
          value: "size",
        },
        {
          text: "discount",
          value: "discount",
        },
      ],
      productOther: [],
    };
  },
  mounted() {
    this.productOtherForDiscount();
    this.getPerProductOther();
  },
  methods: {
    ...mapActions({
      dataProductOther: "promotion/dataProductOther",
      dataPromotionSingle: "promotion/dataPromotionSingle",
      savePromotionProductOther: "promotion/savePromotionProductOther",
    }),
    async getPerProductOther() {
      const id = { product_id: this.$route.params.id };
      const res = await this.dataPromotionSingle(id);
      if (res) {
        this.discountPromotion = JSON.parse(res.product_other);
      }
      // console.log(this.discountPromotion);
    },
    async productOtherForDiscount() {
      const data = { id: this.$route.params.id };
      const res = await this.dataProductOther(data);
      // console.log(res);
      if (this.discountPromotion) {
        res.map((edit) => {
          edit.discount_promotion = null;
          if (this.discountPromotion.length >= 1) {
            for (let i = 0; i < this.discountPromotion.length; i++) {
              if (edit.id == this.discountPromotion[i].product_other_id) {
                edit.discount_promotion =
                  this.discountPromotion[i].discount_other_promotion;
              }
            }
          }
        });
      }
      this.productOther = res;
    },
    AddBeforeUpload(item) {
      if (!this.discountPromotion) {
        // console.log(this.discountPromotion);
        this.discountPromotion = [{
          product_other_id: item.id,
          discount_other_promotion: item.discount_promotion,
        }];
      } else {
        if (this.discountPromotion.length >= 1) {
          const result = this.discountPromotion.find(
            ({ product_other_id }) => product_other_id === item.id
          );
          if (result) {
            result.product_other_id = item.id;
            result.discount_other_promotion = item.discount_promotion;
          } else {
            this.discountPromotion.push({
              product_other_id: item.id,
              discount_other_promotion: item.discount_promotion,
            });
          }
        } else {
          this.discountPromotion.push({
            product_other_id: item.id,
            discount_other_promotion: item.discount_promotion,
          });
        }
      }
    },
    async savePerPromotion() {
      const data = {
        product_id: this.$route.params.id,
        product_other: this.discountPromotion,
      };
      const res = await this.savePromotionProductOther(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
  },
};
</script>
<style>
.table-promotion-back {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}
.table-promotion-back td,
.table-promotion-back th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-promotion-back tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-promotion-back tr:hover {
  background-color: #ddd;
}
</style>