<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-col cols="12" class="pa-0">
      <span>Catalog</span> > <nuxtLink to="/product">Product</nuxtLink> >
      <span>Edit</span>
      <v-row>
        <v-col cols="4">
          <h1>Edit Product</h1>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-toolbar color="dark" dark flat>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="red"></v-tabs-slider>

          <v-tab v-for="item in items" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>
      </v-toolbar>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-col
            cols="12"
            style="border: 1px solid #000; border-radius: 0 0 5px 5px"
          >
            <h1>ข้อมูลพื้นฐาน</h1>
            <v-row>
              <v-col cols="12" lg="8">
                <v-col cols="12">
                  <v-row v-if="productData.tableProduct">
                    <v-col cols="12" lg="6">
                      <h2>ชื่อสินค้า</h2>
                      <v-text-field
                        v-model="productData.tableProduct.name"
                        @blur="requiredName(productData.tableProduct.name)"
                        label="ใส่ชื่อสินค้า"
                        outlined
                        clearable
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6">
                      <h2>
                        Brands
                        <v-tooltip top>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon color="primary" v-bind="attrs" v-on="on"
                              >mdi-alert-octagon</v-icon
                            >
                          </template>
                          <span>เลือก Brands</span>
                        </v-tooltip>
                      </h2>
                      <select
                        v-model="productData.tableProduct.brand_id"
                        style="
                          border: 0.5px solid rgba(0, 0, 0, 0.3);
                          width: 100%;
                          padding: 13px;
                          border-radius: 3px;
                        "
                      >
                        <option disabled>เลือกแบรนสินค้า</option>
                        <option
                          v-for="(item, i) in brands"
                          :key="i"
                          :value="item.id"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <span v-if="imageForEdit">
                    <h3 v-if="imageForEdit.length > 0" style="color: #000">
                      คลิกเพื่อเลือกรูปหลัก
                    </h3>
                  </span>
                  <v-row>
                    <v-col
                      cols="4"
                      v-for="(item, i) in imageForEdit"
                      :key="i"
                      style="position: relative"
                    >
                      <span>
                        <v-img
                          @click="useMain(item)"
                          :class="{
                            selectImage: imgMain == item.main,
                          }"
                          style="border: 1px solid #000"
                          max-height="250"
                          width="100%"
                          :src="`v1/picture-product/${item.image}`"
                          :alt="item.name"
                        ></v-img>
                      </span>
                      <div>
                        <v-btn
                          icon
                          @click="removeImageOld(item)"
                          style="
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            color: #000;
                          "
                          ><v-icon style="border: 0.5px solid #fff"
                            >mdi-close-box</v-icon
                          ></v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <h2>
                    อัพรูปเพิ่ม
                    <span style="font-size: 15px">
                      (อัพรูปเพิ่มก่อนค่อยเลือกรูปหลัก)</span
                    >
                  </h2>
                  <v-col>
                    <v-row>
                      <v-col
                        cols="4"
                        v-for="(item, i) in imageForShow"
                        :key="i"
                        style="position: relative"
                      >
                        <span>
                          <v-img
                            max-height="250"
                            width="100%"
                            :src="item.blob"
                            :alt="item.name"
                          ></v-img>
                        </span>
                        <div>
                          <v-btn
                            icon
                            @click="removeImage(item)"
                            style="
                              position: absolute;
                              right: 10px;
                              top: 10px;
                              color: #000;
                            "
                            ><v-icon style="border: 0.5px solid #fff"
                              >mdi-close-box</v-icon
                            ></v-btn
                          >
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-file-input
                    multiple
                    v-model="ImageForAdd.image"
                    label="อัพโหลดรูปสิ้นค้าภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
                    accept="image/png, image/jpeg, image/gif"
                    filled
                    :clearable="false"
                    prepend-icon="mdi-camera"
                    @change="onFileChange"
                  ></v-file-input>
                  <v-btn
                    @click="addImage()"
                    style="background: #000; border-radius: 0; color: #fff"
                    >เพิ่มรูปภาพ</v-btn
                  >
                </v-col>
                <v-col cols="12">
                  <h2>ข้อมูลสินค้า</h2>
                  <v-textarea
                    v-if="productData.detail"
                    v-model="productData.detail.description"
                    outlined
                    name="input-7-4"
                    label="ข้อมูลสินค้าเบื่องต้น"
                    value=""
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col
                      cols="4"
                      v-for="(item, i) in imageDetailForEdit"
                      :key="i"
                      style="position: relative"
                    >
                      <span>
                        <v-img
                          style="border: 1px solid #000"
                          max-height="250"
                          width="100%"
                          :src="`/api/v1/product_description_image/${item.image}`"
                          :alt="item.name"
                        ></v-img>
                      </span>
                      <div>
                        <v-btn
                          icon
                          @click="removeImageDetailOld(item)"
                          style="
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            color: #000;
                          "
                          ><v-icon style="border: 0.5px solid #fff"
                            >mdi-close-box</v-icon
                          ></v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                  <h2>อัพรูปรายละเอียดสินค้า</h2>
                  <v-file-input
                    multiple
                    v-model="ImageDetailForAdd.image"
                    label="อัพโหลดรูปรายละเอียดภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
                    accept="image/png, image/jpeg, image/gif"
                    filled
                    :clearable="false"
                    prepend-icon="mdi-camera"
                    @change="onFileChangeOther"
                  ></v-file-input>
                  <v-btn
                    @click="addImageDetail()"
                    style="background: #000; border-radius: 0; color: #fff"
                    >เพิ่มรูปภาพรายละเอียด</v-btn
                  >
                  <v-row class="mt-4">
                    <v-col
                      cols="4"
                      v-for="(item, i) in imageDetailForShow"
                      :key="i"
                      style="position: relative"
                    >
                      <span>
                        <v-img
                          max-height="250"
                          width="100%"
                          :src="item.blob"
                          :alt="item.name"
                        ></v-img>
                      </span>
                      <div>
                        <v-btn
                          icon
                          @click="removeImageDetail(item)"
                          style="
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            color: #000;
                          "
                          ><v-icon style="border: 0.5px solid #fff"
                            >mdi-close-box</v-icon
                          ></v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <v-row>
                    <v-col>
                      <h2>สถานะสินค้า</h2>
                      <v-switch
                        v-if="productData.tableProduct"
                        class="pt-0"
                        v-model="productData.tableProduct.status"
                        label="สถานะเปิดใช้สินค้า"
                      ></v-switch>
                    </v-col>
                    <v-col>
                      <h2>สถาณะ New Arrival</h2>
                      <v-switch
                        v-if="productData.newarrival"
                        class="pt-0"
                        v-model="productData.newarrival.newarrival_status"
                        label="สถานะเปิดใช้สินค้า"
                      ></v-switch>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
              <v-col lg="4" cols="12" class="pt-0 pb-0">
                <v-col style="padding-top: 0; padding-bottom: 0">
                  <h2>
                    จำนานสินค้า
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon color="primary" v-bind="attrs" v-on="on"
                          >mdi-alert-octagon</v-icon
                        >
                      </template>
                      <span>ใส่จำนานสินค้าที่มีตามจริง</span>
                    </v-tooltip>
                  </h2>
                  <v-text-field
                    v-if="productData.stock"
                    v-model="productData.stock.quantity"
                    label="ใส่จำนานสินค้า"
                    outlined
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col style="padding-top: 0; padding-bottom: 20px">
                  <h2>
                    ราคาสินค้า และ ส่วนลด
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon color="primary" v-bind="attrs" v-on="on"
                          >mdi-alert-octagon</v-icon
                        >
                      </template>
                      <span>ใส่ราคาสินค้าสกุลเงินบาท</span>
                    </v-tooltip>
                  </h2>
                  <v-col>
                    <v-row>
                      <v-col class="pa-0"
                        ><v-text-field
                          class="mr-2"
                          v-if="productData.tableProduct"
                          v-model="productData.tableProduct.price"
                          label="ใส่ราคา"
                          outlined
                          clearable
                        ></v-text-field
                      ></v-col>
                      <v-col class="pa-0"
                        ><v-text-field
                          class="mr-2"
                          v-if="productData.tableProduct"
                          v-model="productData.tableProduct.discount"
                          label="ใส่ส่วนลด"
                          outlined
                          clearable
                        ></v-text-field
                      ></v-col>
                    </v-row>
                  </v-col>
                  <v-col style="border: 1px solid #000">
                    <h2 class="pt-0">
                      Categories
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" v-bind="attrs" v-on="on"
                            >mdi-alert-octagon</v-icon
                          >
                        </template>
                        <span>เลือก Categories</span>
                      </v-tooltip>
                    </h2>
                    <span v-for="(item, i) in selected" :key="i">
                      <v-checkbox
                        :label="item.name"
                        :value="item.id"
                        v-model="item.add"
                        @click="send()"
                      >
                      </v-checkbox>
                      <v-col>
                        <v-row>
                          <v-col cols="1" class="pa-0">
                            <v-icon v-show="item.off" @click="checkList(item)"
                              >mdi-chevron-right</v-icon
                            >
                            <v-icon v-show="item.show" @click="closeList(item)"
                              >mdi-chevron-left</v-icon
                            >
                          </v-col>
                          <v-col cols="11" class="pa-0" v-show="item.show">
                            <v-checkbox
                              v-for="(list, g) in item.listName"
                              :key="g"
                              :label="list.name"
                              :value="list.id"
                              v-model="item.listData"
                              @click="send()"
                            >
                            </v-checkbox>
                          </v-col>
                        </v-row>
                      </v-col>
                    </span>
                  </v-col>
                </v-col>
              </v-col>
            </v-row>
          </v-col>
        </v-tab-item>
        <v-tab-item>
          <v-col
            cols="12"
            style="border: 1px solid #000; border-radius: 0 0 5px 5px"
          >
            <h1>SEO</h1>
            <v-col cols="12" lg="6">
              <v-col class="pa-0">
                <h2>Meta title</h2>
                <v-text-field
                  v-if="productData.seo"
                  v-model="productData.seo.meta_title"
                  label="ใส่ Meta title"
                  outlined
                  clearable
                ></v-text-field>
              </v-col>
              <v-col class="pa-0">
                <h2>Meta description</h2>
                <v-textarea
                  v-if="productData.seo"
                  v-model="productData.seo.meta_description"
                  outlined
                  name="input-7-4"
                  label="ใส่ Meta description"
                  value=""
                ></v-textarea>
              </v-col>
              <v-col class="pa-0">
                <h2>Meta keywords</h2>
                <v-text-field
                  v-if="productData.seo"
                  v-model="productData.seo.meta_keywords"
                  label="ใส่ Meta keywords"
                  outlined
                  clearable
                ></v-text-field>
              </v-col>
            </v-col>
          </v-col>
        </v-tab-item>
      </v-tabs-items>
    </v-col>
    <v-col
      style="
        position: fixed;
        padding: 0 !important;
        margin: 0 !important;
        z-index: 99;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: flex-end;
        align-items: center;
      "
    >
      <v-btn
        id="v-btn-add"
        style="margin-right: 50px; background: #fe1442"
        to="/product"
        >Cancle</v-btn
      >
      <v-btn
        id="v-btn-add"
        style="margin-right: 50px"
        :disabled="disable"
        @click="saveProduct()"
        >Save</v-btn
      >
    </v-col>
  </div>
</template>
<script>
import Combobox from "@/components/product/combobox";
import { mapActions } from "vuex";

export default {
  components: {
    Combobox,
  },
  data() {
    return {
      ImageForAdd: [],
      ImageDetailForAdd: [],
      selected: [],
      arrCategoryNew: [{ using: false }],
      categoryAfterEdit: null,
      disable: false,
      tab: null,
      items: ["ข้อมูลพื้นฐาน", "SEO"],
      rules: [
        (value) =>
          !value ||
          value.size < 2000000 ||
          "Avatar size should be less than 2 MB!",
      ],
      productData: {},
      brands: [],
      imageForShow: [],
      imageForEdit: [],
      imageDetailForEdit: [],
      imageDetailForShow: [],
      imgMain: null,
      categoryChecked: [],
      snackAlert: false,
      textAlert: "",
    };
  },
  async mounted() {
    await this.getProduct();
    await this.brandsAll();
    await this.callCategory();
  },
  methods: {
    ...mapActions({
      selectBrands: "product/select/allBrands/selectBrands",
      getProductForEdit: "product/select/getProduct/getProductForEdit",
      addProduct: "product/create/create/addProduct",
      addImageEdit: "product/create/addImageEdit/addImageEdit",
      addImageDetailEdit: "product/create/addImageEdit/addImageDetailEdit",
      editMainImage: "product/edit/editMainImage/editMainImage",
      editDataProduct: "product/edit/editDataProduct/editDataProduct",
      deleteImage: "product/delete/deleteImage/deleteImage",
      deleteImageDetail: "product/delete/deleteImage/deleteImageDetail",
    }),
    async send() {
      let category = [];
      // console.log(this.selected);

      this.selected.map((edit) => {
        let list = null;
        if (edit.listData) {
          list = {
            id: edit.id,
            isSelect: edit.add ? true : false,
            subCategory: edit.listData,
          };
          category.push(list);
        } else {
          if (edit.add) {
            list = {
              id: edit.id,
              isSelect: edit.add ? true : false,
              subCategory: [],
            };
            category.push(list);
          }
        }
      });
      const lastCategoryBeforUpdate = []
      for(let i=0;i<category.length;i++){
        if(category[i].isSelect){
          lastCategoryBeforUpdate.push(category[i])
        }
      }
      // console.log(lastCategoryBeforUpdate);

      this.categoryChecked = lastCategoryBeforUpdate;
      // console.log(JSON.stringify(lastCategoryBeforUpdate));
    },
    async callCategory() {
      const res = await this.$axios.$get("api/categories-main");
      res.map((addListdata) => {
        addListdata.listData = [];
      });
      // if(res.category){

      // }
      const show = res.map((edit) => {
        const found = this.categoryChecked.find(
          (element) => element.id == edit.id
        );
        edit.show = false;
        edit.off = true;
        edit.add = found ? edit.id : null;
        edit.listName = [];
        if (found) {
          edit.listData = found.subCategory;
        } else {
          edit.listData = [];
        }
        return edit;
      });
      this.selected = show;

      // console.log("ข้อมูลของ Category", this.selected);
    },
    async checkList(data, booleanValue) {
      data.show = true;
      data.off = false;
      const res = await this.$axios.$post(
        "api/categories-list-for-product",
        data
      );
      for (let i = 0; i < res.length; i++) {
        if (data.id === res[i].id_category_main) {
          data.listName.push({ id: res[i].id, name: res[i].name });
        }
      }
    },
    closeList(data) {
      data.off = true;
      data.show = false;
      data.listName = [];
    },
    async getProduct() {
      const res = await this.getProductForEdit(this.$route.params.id);
      console.log(res);
      this.productData = res;
      if (res.tableProduct.category) {
        this.categoryChecked = JSON.parse(res.tableProduct.category);
      }
      this.imageForEdit = res.image;
      this.imageDetailForEdit = res.imageDetail;
      res.image.map((check) => {
        if (check.main == 1) this.imgMain = check.main;
      });
      // console.log("ตัวที่ เช็คเก็ต", this.productData.tableProduct);
    },

    async brandsAll() {
      const res = await this.selectBrands();
      this.brands = res;
    },
    requiredName(data) {
      if (data) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    async saveProduct() {
      const data = {
        id: this.productData.tableProduct.id,
        name: this.productData.tableProduct.name,
        discount: this.productData.tableProduct.discount,
        brand_id: this.productData.tableProduct.brand_id,
        description: this.productData.detail.description,
        price: this.productData.tableProduct.price,
        newarrival_status: this.productData.newarrival.newarrival_status,
        quantity: this.productData.stock.quantity,
        category: JSON.stringify(this.categoryChecked),
        status: this.productData.tableProduct.status ? 1 : 0,
        meta_title: this.productData.seo.meta_title,
        meta_description: this.productData.seo.meta_description,
        meta_keywords: this.productData.seo.meta_keywords,
      };
      const res = await this.editDataProduct(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.getProduct();
      }
    },
    removeImage(data) {
      const found = this.imageForShow.indexOf(data);
      this.imageForShow.splice(found, 1);
      this.ImageForAdd.image.splice(found, 1);
    },
    onFileChangeOther(e) {
      e.map((showImage) => {
        this.imageDetailForShow.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
    },
    onFileChange(e) {
      e.map((showImage) => {
        this.imageForShow.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
    },
    async addImageDetail() {
      const data = {
        image: this.ImageDetailForAdd,
        product_id: parseInt(this.$route.params.id),
      };
      const res = await this.addImageDetailEdit(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.ImageDetailForAdd = [];
        this.imageDetailForShow = [];
        this.getProduct();
      }
    },
    async addImage() {
      const data = {
        image: this.ImageForAdd,
        product_id: parseInt(this.$route.params.id),
        main: 0,
      };
      const res = await this.addImageEdit(data);
      // console.log(res);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.ImageForAdd = [];
        this.imageForShow = [];
        this.getProduct();
      }
    },
    async useMain(item) {
      if (confirm("คุณต้องการใช้ภาพนี้เป็นภาพหลักใช่หรือไม่ ?")) {
        const data = {
          id: item.id,
          product_id: parseInt(this.$route.params.id),
        };
        const res = await this.editMainImage(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProduct();
        }
      }

      // console.log(res);
    },
    removeImageDetail(data) {
      const found = this.imageDetailForShow.indexOf(data);
      this.imageDetailForShow.splice(found, 1);
      this.productData.image_description.splice(found, 1);
      // console.log(this.imageForShow);
    },
    async removeImageDetailOld(data) {
      if (confirm("คุณต้องการจะลบรูปนี่้ใช่หรือไม่ ?")) {
        const res = await this.deleteImageDetail(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProduct();
        }
      }
    },
    async removeImageOld(data) {
      if (confirm("คุณต้องการจะลบรูปนี่้ใช่หรือไม่ ?")) {
        const res = await this.deleteImage(data);
        console.log(res);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProduct();
        }
      }
    },
  },
};
</script>
<style>
#v-btn-add {
  border-radius: 0;
  background: #000;
  color: #fff;
}
.selectImage {
  border: 5px solid green !important;
}
</style>
