<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-col>
      <nuxt-Link to="/promotion">Promotion</nuxt-Link> >
      <span v-if="promotionSingleData">{{ promotionSingleData.name }}</span>
      <v-row>
        <v-col cols="12" class="mt-4">
          <h1 v-if="promotionSingleData">{{ promotionSingleData.name }}</h1>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row class="mt-4">
        <v-col cols="12" lg="4" sm="4" st>
          <div style="border: 1px solid rgba(0, 0, 0, 0.5)">
            <v-col v-if="promotionSingleData" class="pa-0">
              <img
                :src="`/api/v1/promotion-image/${promotionSingleData.image}`"
                width="100%"
                style="border: 1px solid rgba(0, 0, 0, 0.5)"
                alt=""
              />
            </v-col>
            <v-col class="pa-1">
              <h3>เปลี่ยนรูปภาพ</h3>
              <v-file-input
                v-model="editPromotion.image"
                label="เลือกรูปภาพ"
                show-size
                truncate-length="15"
              ></v-file-input>
            </v-col>
            <v-col v-if="promotionSingleData" class="pa-0">
              <img
                :src="`/api/v1/promotion-banner-pc/${promotionSingleData.banner_pc}`"
                width="100%"
                style="border: 1px solid rgba(0, 0, 0, 0.5)"
                alt=""
              />
            </v-col>
            <v-col class="pa-1">
              <h3>เปลี่ยนรูปภาพ Banner PC</h3>
              <v-file-input
                v-model="editPromotion.banner_pc"
                label="เลือกรูปภาพ"
                show-size
                truncate-length="15"
              ></v-file-input>
            </v-col>
            <v-col v-if="promotionSingleData" class="pa-0">
              <img
                :src="`/api/v1/promotion-banner-mobile/${promotionSingleData.banner_mobile}`"
                width="100%"
                style="border: 1px solid rgba(0, 0, 0, 0.5)"
                alt=""
              />
            </v-col>
            <v-col class="pa-1">
              <h3>เปลี่ยนรูปภาพ Banner PC</h3>
              <v-file-input
                v-model="editPromotion.banner_mobile"
                label="เลือกรูปภาพ"
                show-size
                truncate-length="15"
              ></v-file-input>
            </v-col>
            <v-col class="pa-1">
              <h3>เปลี่ยนชื่อโปรโมชั่น</h3>
              <v-text-field
                v-model="editPromotion.name"
                clearable
                label="ชื่อโปรโมชั่น"
              ></v-text-field>
            </v-col>
            <v-col style="display: flex; justify-content: center">
              <v-btn>แก้ไข้</v-btn>
            </v-col>
          </div>
        </v-col>
        <v-col cols="12" lg="8" sm="8">
          <v-row>
            <v-col cols="6" style="position: relative">
              <v-text-field
                v-model="text_search"
                label="ค้นหาสินค้า"
                clearable
              ></v-text-field>
              <v-col
                cols="12"
                class="pt-0"
                v-if="text_search"
                style="position: absolute; z-index: 10"
                ><v-row v-for="(item, i) in filteredProduct" :key="i">
                  <v-col
                    style="
                      width: 100%;
                      border: 1px solid #000;
                      background: #7789c5;
                    "
                  >
                    <v-row>
                      <v-col
                        cols="2"
                        style="display: flex; align-items: center"
                      >
                        <img
                          :src="`/api/v1/product/picture-product/${item.image}`"
                          width="40px"
                          alt=""
                        />
                      </v-col>
                      <v-col
                        cols="6"
                        style="display: flex; align-items: center"
                        >{{ item.name }}</v-col
                      >
                      <v-col
                        cols="4"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: flex-end;
                        "
                      >
                        <v-btn
                          @click="addPicker({ dataFromSearch: true, item })"
                          >เพิ่ม</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row></v-col
              >
            </v-col>
            <v-col cols="6" style="display: flex; align-items: center">
              <v-select
                v-model="picked"
                :items="nameProduct"
                item-value="id"
                label="เลือก"
              >
                <template v-slot:selection="{ item }">
                  {{ item.name }}
                </template>
                <template v-slot:item="{ item }">
                  <img
                    :src="`/api/v1/product/picture-product/${item.image}`"
                    width="40px"
                    alt=""
                  />
                  {{ item.name }}
                </template>
              </v-select>
              <v-btn
                @click="addPicker({ select: true })"
                style="margin-left: 10px; margin-top: -5px"
                >เพิ่ม</v-btn
              >
            </v-col>
          </v-row>
          <!-- <v-row>
            <v-col
              v-for="(item, i) in productPromotionPicked"
              :key="i"
              cols="4"
              class="pa-0"
            >
              <img
                :src="`/api/v1/product/picture-product/${item.image}`"
                width="100%"
                alt=""
              />
              <v-col v-if="item.color != 0" cols="12" class="pa-0">
                <select>
                  <option value="0">#เลือกสีสินค้า</option>
                  <option
                    v-for="(color, c) in item.color"
                    :key="c"
                    :value="color"
                  >
                    {{ color }}
                  </option>
                </select>
              </v-col>
              <v-col v-if="item.size != 0" cols="12" class="pa-0">
                <select>
                  <option value="0">#เลือกไซส์สินค้า</option>
                  <option v-for="(size, s) in item.size" :key="s" :value="size">
                    {{ size }}
                  </option>
                </select>
              </v-col>
            </v-col>
          </v-row> -->
          <v-col cols="12" class="pl-0 pr-0">
            <v-data-table
              :headers="headPicked"
              :items="productPromotionPicked"
              :sort-by="['rating']"
              :sort-desc="[false, true]"
              :items-per-page="10"
              class="elevation-1"
            >
              <template v-slot:[`item.discount_product_other`]="item">
                <v-btn
                  :to="`/promotion/other_product/${item.item.id}`"
                  icon
                  ><v-icon>mdi-format-align-justify</v-icon></v-btn
                >
              </template>
              <template v-slot:[`item.discountPromotion`]="item">
                <input
                  style="
                    width: 30px;
                    border: 1px solid #000;
                    text-align: center;
                  "
                  v-model="item.item.discountPromotion"
                  type="text"
                />
                <v-btn @click="changeDiscount(item.item)" icon>
                  <v-icon>mdi-pencil</v-icon></v-btn
                >
              </template>
              <template v-slot:[`item.image`]="item">
                <v-img
                  :src="`/api/v1/product/picture-product/${item.item.image}`"
                  max-width="100"
                  max-height="100"
                ></v-img>
              </template>
              <template v-slot:[`item.delete`]="item">
                <v-btn @click="deletePicked(item.item)" icon
                  ><v-icon>mdi mdi-delete</v-icon></v-btn
                >
              </template>
            </v-data-table>
          </v-col>
        </v-col>
      </v-row>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      promotionSingleData: {},
      editPromotion: {},
      imagePreviewURL: null,
      text_search: "",
      picked: null,
      nameProduct: [],
      snackAlert: false,
      textAlert: "",
      productPromotionPicked: [],
      headPicked: [
        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "name",
          value: "name",
        },
        {
          text: "dis_other",
          value: "discount_product_other",
        },
        {
          text: "Discount",
          value: "discountPromotion",
        },
        {
          text: "Delete",
          value: "delete",
          width: "50",
        },
      ],
    };
  },
  computed: {
    filteredProduct: function () {
      return this.nameProduct.filter((product) => {
        return product.name.toLowerCase().match(this.text_search.toLowerCase());
      });
    },
  },
  mounted() {
    this.getPromotion();
    this.getNameProduct();
    this.getProductInPromotion();
  },
  methods: {
    ...mapActions({
      promotionSingle: "promotion/promotionSingle",
      getProductPromotion: "promotion/getProductPromotion",
      editDiscountProductPromotion: "promotion/editDiscountProductPromotion",
      deleteProductPromotion: "promotion/deleteProductPromotion",
      addProductPromotion: "promotion/addProductPromotion",
      nameProductForAdd: "promotion/nameProductForAdd",
      dataProductOther: "promotion/dataProductOther",
    }),
    async changeDiscount(item) {
      // console.log(item);
      const data = {
        id: item.id_product_promotion,
        discount: item.discountPromotion,
      };
      const res = await this.editDiscountProductPromotion(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.getProductInPromotion();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async deletePicked(item) {
      if (confirm("คุณต้องการลบสินค้าตัวนี้ออกจากรายการโปรโมชั่นหรือไม่?")) {
        const data = { id: item.id_product_promotion };
        const res = await this.deleteProductPromotion(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductInPromotion();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
    async addPicker(item) {
      if (item.dataFromSearch) {
        const data = {
          promotion_id: this.promotionSingleData.id,
          product_id: item.item.id,
        };
        // console.log(data);
        const res = await this.addProductPromotion({
          search: true,
          data: data,
        });
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductInPromotion();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      } else {
        const data = {
          promotion_id: this.promotionSingleData.id,
          product_id: this.picked,
        };
        // console.log(data);
        const res = await this.addProductPromotion({ select: true, data });
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductInPromotion();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
    async getPromotion() {
      const data = this.$route.params.name;
      this.promotionSingleData = await this.promotionSingle(data);
      //   console.log(this.promotionSingleData);
    },
    async getNameProduct() {
      this.nameProduct = await this.nameProductForAdd();
      //   console.log(this.nameProduct);
    },

    async getProductInPromotion() {
      const data = { promotion_id: this.$route.params.name };
      const res = await this.getProductPromotion(data);
      // this.productPromotionPicked;
      // res.data.map((edit) => {
      //   edit.product_other = [];
      //   for (let i = 0; i < res.product_other.length; i++) {
      //     if(edit.id == res.product_other[i].product_id){
      //       edit.product_other.push(res.product_other[i])
      //     }
      //   }
      // });
      // console.log(res.data);
      this.productPromotionPicked = res.data;
    },
    onFileChange(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file);
      } else {
        this.imagePreviewURL = null;
      }
    },
  },
};
</script>
<style>