<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-col>
      <span>Promotion</span>
      <v-row>
        <v-col cols="12">
          <h1>Promotion</h1>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row class="mt-4">
        <v-col cols="12" lg="4" sm="4">
          <div style="border: 0.5px solid rgba(0, 0, 0, 0.5)">
            <v-col cols="12" style="display: flex; justify-content: center">
              <span
                :style="`display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 350px;
                  height: 350px;
                  ${
                    imagePreviewURL
                      ? 'border: 4px dashed green;'
                      : 'border: 1px dashed rgba(0,0,0,0.5);'
                  }`"
              >
                <img :src="imagePreviewURL" width="100%" alt="" />
              </span>
            </v-col>
            <v-col style="display: flex; justify-content: center"
              ><span style="width: 350px">
                <v-file-input
                  @change="onFileChange"
                  v-model="promotion.image"
                  class="pickImagePromotion"
                  label="เลือกรูปภาพ"
                  show-size
                  truncate-length="15"
                ></v-file-input>
              </span>
            </v-col>
            <v-col cols="12" style="display: flex; justify-content: center">
              <span
                :style="`display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 350px;
                  height: 150px;
                  ${
                    imagePreviewURLBanerPc
                      ? 'border: 4px dashed green;'
                      : 'border: 1px dashed rgba(0,0,0,0.5);'
                  }`"
              >
                <img :src="imagePreviewURLBanerPc" width="100%" alt="" />
              </span>
            </v-col>
            <v-col style="display: flex; justify-content: center"
              ><span style="width: 350px">
                <v-file-input
                  @change="onFileChangeDesktop"
                  v-model="promotion.banner_pc"
                  class="pickImagePromotion"
                  label="เลือกรูปภาพ Banner เวอร์ชั้นบน PC"
                  show-size
                  truncate-length="15"
                ></v-file-input>
              </span>
            </v-col>
            <v-col cols="12" style="display: flex; justify-content: center">
              <span
                :style="`display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 350px;
                  height: 150px;
                  ${
                    imagePreviewURLBanerMobile
                      ? 'border: 4px dashed green;'
                      : 'border: 1px dashed rgba(0,0,0,0.5);'
                  }`"
              >
                <img :src="imagePreviewURLBanerMobile" width="100%" alt="" />
              </span>
            </v-col>
            <v-col style="display: flex; justify-content: center"
              ><span style="width: 350px">
                <v-file-input
                  @change="onFileChangeBannerMobile"
                  v-model="promotion.banner_mobile"
                  class="pickImagePromotion"
                  label="เลือกรูปภาพ Banner เวอร์ชั้นบน Mobile"
                  show-size
                  truncate-length="15"
                ></v-file-input>
              </span>
            </v-col>
            <v-col class="pt-0" style="display: flex; justify-content: center">
              <span style="width: 350px">
                <v-text-field
                  v-model="promotion.name"
                  clearable
                  label="Input Name Promotion"
                ></v-text-field>
              </span>
            </v-col>
            <v-col style="display: flex; justify-content: center">
              <v-btn
                @click="addPromotionMain()"
                elevation="12"
                style="border-radius: 0; border: 1.5px solid #7789c5"
                >เพิ่ม Promotion</v-btn
              >
            </v-col>
          </div>
        </v-col>
        <v-col cols="12" lg="8" sm="8">
          <v-row>
            <v-col
              v-for="(item, i) in promotionDataHaving"
              :key="i"
              cols="12"
              lg="6"
              sm="6"
            >
              <nuxt-Link :to="`/promotion/${item.id}`">
                <img
                  class="image-promotion"
                  :src="`/api/v1/promotion-image/${item.image}`"
                  width="100%"
                  alt=""
                />
              </nuxt-Link>
              <v-col
                class="pa-0"
                style="border-bottom: 1px solid rgba(0, 0, 0, 0.5)"
                ><span style="color: rgba(0, 0, 0, 0.6)">{{
                  item.name
                }}</span></v-col
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      promotion: {},
      snackAlert: false,
      textAlert: "",
      imagePreviewURL: null,
      imagePreviewURLBanerPc: null,
      imagePreviewURLBanerMobile: null,
      promotionDataHaving: [],
    };
  },
  mounted() {
    this.getPromotion();
  },
  methods: {
    ...mapActions({
      addPromotion: "promotion/addPromotion",
      promotionHaving: "promotion/promotionHaving",
    }),
    async getPromotion() {
      this.promotionDataHaving = await this.promotionHaving();
      //   console.log(this.promotionDataHaving);
    },
    async addPromotionMain() {
      if (
        !this.promotion.image &&
        !this.promotion.banner_pc &&
        !this.promotion.banner_mobile &&
        !this.promotion.name
      ) {
        alert("ท่านใส่ข้อมูลไม่ครบ !!!");
      } else {
        const data = {
          image: this.promotion.image,
          banner_pc: this.promotion.banner_pc,
          banner_mobile: this.promotion.banner_mobile,
          name: this.promotion.name,
        };
        const res = await this.addPromotion(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getPromotion();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
    onFileChange(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file);
      } else {
        this.imagePreviewURL = null;
      }
    },
    onFileChangeDesktop(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURLBanerPc = URL.createObjectURL(file);
        URL.revokeObjectURL(file);
      } else {
        this.imagePreviewURLBanerPc = null;
      }
    },
    onFileChangeBannerMobile(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURLBanerMobile = URL.createObjectURL(file);
        URL.revokeObjectURL(file);
      } else {
        this.imagePreviewURLBanerMobile = null;
      }
    },
  },
};
</script>
<style>
.image-promotion {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.image-promotion:hover {
  border: 5px solid red;
}
/* .pickImagePromotion .v-label {
  left: 40% !important;
} */
</style>