<template>
  <div>
    <h1>Dashboard</h1>
    <v-divider></v-divider>
    <Card :numberUser="500" />
    <!-- {{$auth.user}} -->
    <!-- <h2 style="color:#7a7a7a;margin-top:15px;">Top selling product</h2>
    <v-btn style="margin:16px;">See All</v-btn> -->
    <!-- <v-row style="padding:10px">
      <v-col lg="3" cols="12" style="padding:20px;">
        <v-row style="box-shadow:0 10px 10px rgba(0,0,0,0.5);">
          <v-col
            cols="12"
            style="display:flex;justify-content:center;padding:20px"
          >
            <img
              src="~assets/img/rolex.png"
              alt=""
              style="max-width:100%;max-height:200px;"
            />
          </v-col>
          <v-col cols="12" style="padding:10px 0 10px 0">
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6">
                <h2 style="text-align:center;">Price</h2>
                <h3 style="text-align:center;">$999</h3>
              </v-col>
              <v-divider
                vertical
                style="height:75px;margin-top:11px"
              ></v-divider>
              <v-col cols="6">
                <h2 style="text-align:center;">Total salse</h2>
                <h3 style="text-align:center;">49,410</h3>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col lg="3" cols="12" style="padding:20px;">
        <v-row style="box-shadow:0 10px 10px rgba(0,0,0,0.5);">
          <v-col
            cols="12"
            style="display:flex;justify-content:center;padding:20px"
          >
            <img
              src="~assets/img/rolex.png"
              alt=""
              style="max-width:100%;max-height:200px;"
            />
          </v-col>
          <v-col cols="12" style="padding:10px 0 10px 0">
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6">
                <h2 style="text-align:center;">Price</h2>
                <h3 style="text-align:center;">$999</h3>
              </v-col>
              <v-divider
                vertical
                style="height:75px;margin-top:11px"
              ></v-divider>
              <v-col cols="6">
                <h2 style="text-align:center;">Total salse</h2>
                <h3 style="text-align:center;">49,410</h3>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col lg="3" cols="12" style="padding:20px;">
        <v-row style="box-shadow:0 10px 10px rgba(0,0,0,0.5);">
          <v-col
            cols="12"
            style="display:flex;justify-content:center;padding:20px"
          >
            <img
              src="~assets/img/rolex.png"
              alt=""
              style="max-width:100%;max-height:200px;"
            />
          </v-col>
          <v-col cols="12" style="padding:10px 0 10px 0">
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6">
                <h2 style="text-align:center;">Price</h2>
                <h3 style="text-align:center;">$999</h3>
              </v-col>
              <v-divider
                vertical
                style="height:75px;margin-top:11px"
              ></v-divider>
              <v-col cols="6">
                <h2 style="text-align:center;">Total salse</h2>
                <h3 style="text-align:center;">49,410</h3>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col lg="3" cols="12" style="padding:20px;">
        <v-row style="box-shadow:0 10px 10px rgba(0,0,0,0.5);">
          <v-col
            cols="12"
            style="display:flex;justify-content:center;padding:20px"
          >
            <img
              src="~assets/img/rolex.png"
              alt=""
              style="max-width:100%;max-height:200px;"
            />
          </v-col>
          <v-col cols="12" style="padding:10px 0 10px 0">
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6">
                <h2 style="text-align:center;">Price</h2>
                <h3 style="text-align:center;">$999</h3>
              </v-col>
              <v-divider
                vertical
                style="height:75px;margin-top:11px"
              ></v-divider>
              <v-col cols="6">
                <h2 style="text-align:center;">Total salse</h2>
                <h3 style="text-align:center;">49,410</h3>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row> -->
  </div>
</template>
<script>
import Card from "@/components/dashboard/card";

export default {
  name: "Dashboard",
  components: {
    Card,
  },
  data() {
    return {
      model: null,
    };
  },
};
</script>
