<template>
  <div>
    <v-container
      style=" display:flex;
        align-items:center;height:100vh;min-width:480px;"
    >
      <v-col style="display:flex;justify-content:center;">
        <v-col
          cols="12"
          lg="3"
          md="4"
          sm="6"
          style="padding:0;background:#fff;padding:20px;border-radius:5px;box-shadow: 0 0 10px rgba(0,0,0,0.5)"
        >
          <v-col class="head-login">
            <h1 style="text-align:center;">Welcome</h1>
          </v-col>
          <form>
            <v-col>
              <v-text-field
                label="Username"
                v-model="login.username"
                prepend-inner-icon="mdi-account-outline"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                v-model="login.password"
                label="Password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show1 ? 'text' : 'password'"
                @click:append="show1 = !show1"
                prepend-inner-icon="mdi-key-variant"
                @keydown.prevent.enter="userLogin"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-btn
                @click="userLogin"
                block
                elevation="10"
                outlined
                color="red"
                >Login</v-btn
              >
            </v-col>
          </form>
        </v-col>
      </v-col>
    </v-container>
  </div>
</template>
<script>
export default {
  layout: "login",
  data() {
    return {
      login: { username: "", password: "" },
      show1: false,
      user: {},
    };
  },
  methods: {
    async userLogin() {
      const payload = {
        username: this.login.username,
        password: this.login.password,
      };
      try {
        const response = await this.$auth.loginWith("local", {
          data: {
            username: payload.username,
            password: payload.password,
          },
        });
        if (response.data.success) {
          this.$router.push('/')
        }
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },
  }
};
</script>
