<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <span>SeoulgoodsPick</span>
    <v-row>
      <v-col cols="4">
        <h1>SeoulgoodsPick</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-col cols="12">
        <h2>เลือกเพิ่มสินค้าไปเมนูนี้</h2>
      <v-row style="border:1px solid #7789c5;margin:10px;">
        <v-col cols="6" style="display: flex; align-items: center">
          <v-select
            v-model="picked"
            :items="nameProduct"
            item-value="id"
            label="เลือก"
          >
            <template v-slot:selection="{ item }">
              {{ item.name }}
            </template>
            <template v-slot:item="{ item }">
              <img
                :src="`/api/v1/product/picture-product/${item.image}`"
                width="80px"
                alt=""
              />
              {{ item.name }}
            </template>
          </v-select>
          <v-btn
            @click="addPicker({select:true})"
            style="margin-left: 10px; margin-top: -5px"
            >เพิ่ม</v-btn
          >
        </v-col>
        <v-col cols="6" style="position: relative">
          <v-text-field v-model="text_search" label="ค้นหาสินค้า" clearable></v-text-field>
          <v-col
            class="pr-10 pt-0"
            v-if="text_search"
            style="position: absolute; z-index: 10"
          >
            <v-row v-for="(item, i) in filteredProduct" :key="i">
              <v-col
                style="width: 100%; border: 1px solid #000; background: #7789c5"
              >
                <v-row>
                  <v-col cols="2" style="display: flex; align-items: center">
                    <img
                      :src="`/api/v1/product/picture-product/${item.image}`"
                      width="80px"
                      alt=""
                    />
                  </v-col>
                  <v-col cols="6" style="display: flex; align-items: center">{{
                    item.name
                  }}</v-col>
                  <v-col
                    cols="4"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                    "
                  >
                    <v-btn @click="addPicker({ dataFromSearch: true, item })"
                      >เพิ่ม</v-btn
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <!-- <span v-for="(item, i) in filteredProduct" :key="i">
              {{ item.name }}
            </span> -->
          </v-col>
        </v-col>
      </v-row>
      <v-data-table
        :headers="headPicked"
        :items="pickedData"
        :sort-by="['rating']"
        :sort-desc="[false, true]"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            :src="`/api/v1/product/picture-product/${item.item.image}`"
            max-width="100"
            max-height="100"
          ></v-img>
        </template>
        <template v-slot:[`item.delete`]="item">
          <v-btn @click="deletePicked(item.item)" icon
            ><v-icon>mdi mdi-delete</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      picked: null,
      snackAlert: false,
      textAlert: "",
      headPicked: [
        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "name",
          value: "name",
        },
        {
          text: "Delete",
          value: "delete",
          width: "50",
        },
      ],
      pickedData: [],
      nameProduct: [],
      text_search: "",
    };
  },
  computed: {
    filteredProduct: function () {
      return this.nameProduct.filter((product) => {
        return product.name.toLowerCase().match(this.text_search.toLowerCase());
      });
    },
  },
  mounted() {
    this.getNameProduct();
    this.getProductPicked();
  },
  methods: {
    ...mapActions({
      nameProductForAdd: "homepage/select/bestsellers/nameProductForAdd",
      addSeoulgoodsPick: "seoulgoodspick/addSeoulgoodsPick",
      pickedSeoulgoodspick: "seoulgoodspick/pickedSeoulgoodspick",
      deletePickedSeoulgoodspick:
        "seoulgoodspick/deletePickedSeoulgoodspick",
    }),
    async addPicker(item) {
      if (item.dataFromSearch) {
        const res = await this.addSeoulgoodsPick({search:true,data:item.item});
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductPicked();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      } else {
        const data = { product_id: this.picked };
        const res = await this.addSeoulgoodsPick({select:true,data});
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductPicked();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
    async getProductPicked() {
      const res = await this.pickedSeoulgoodspick();
      if (res.success) {
        this.pickedData = res.data;
      }
    },
    async getNameProduct() {
      this.nameProduct = await this.nameProductForAdd();
      //   console.log(this.nameProduct);
    },
    async deletePicked(data) {
      if (confirm("คุณต้องการจะลบสินค้าตัวนี้ใช่หรือไม่ ?")) {
        const res = await this.deletePickedSeoulgoodspick(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductPicked();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>
