<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="data"
      :items-per-page="20"
      class="elevation-8"
    >
      <template v-slot:[`item.image`]="item">
        <v-btn icon @click="showImg(item.item)"
          ><v-icon>mdi-camera-image</v-icon></v-btn
        >
        <v-dialog
          v-model="item.item.dialogImage"
          transition="dialog-bottom-transition"
          max-width="800"
        >
          <v-card>
            <!-- <v-toolbar color="primary" dark
            >รูปภาพของสินค้า {{ item.item.name }}</v-toolbar
          > -->
            <v-card-text>
              <v-row class="mt-6">
                <v-col v-for="(item, i) in image" :key="i">
                  <v-img
                    max-height="350"
                    max-width="350"
                    :src="`/api/v1/product-other/${item.image}`"
                    style="border: 1px solid #000"
                  ></v-img>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn text @click="item.item.dialogImage = false">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.edit`]="item">
        <v-btn :to="`edit/${item.item.id}`" icon
          ><v-icon>mdi-pencil</v-icon></v-btn
        >
      </template>
      <template v-slot:[`item.delete`]>
        <v-icon style="color: red">mdi-delete-forever</v-icon>
      </template>
    </v-data-table>
    <v-divider></v-divider>

    <v-col>
      <h5 v-if="product.res">name:{{ product.res.name }}</h5>
      <!-- <h5 v-if="product.res">
        price:{{ product.res.price - product.res.discount }}
      </h5> -->
      <h5 v-if="disconutPrice >= 1">price: {{ price - disconutPrice }}</h5>
      <h5 v-if="disconutPrice < 1">price: {{ price }}</h5>
      <h5 v-if="quantity">quantity:{{ quantity }}</h5>
      <h5 v-if="quantity == 0">quantity:สินค้าหมด</h5>
      <v-col>
        <v-select
          @change="addColor()"
          v-if="color.length >= 1"
          v-model="dataForSend.color"
          :items="color"
          label="Choose Color"
        ></v-select>
        <v-select
          v-if="size.length >= 1"
          @change="addColor()"
          v-model="dataForSend.size"
          :items="size"
          label="Choose Size"
        ></v-select>
      </v-col>
    </v-col>
  </div>
</template>
<script>
export default {
  data() {
    return {
      data: [],
      toggle: 0,
      snackAlert: false,
      textAlert: "",
      headers: [
        {
          text: "image",
          value: "image",
          align: "center",
          sortable: false,
          width: "100",
        },

        {
          text: "price",
          align: "center",
          value: "price",
          sortable: false,
        },
        { text: "discount", value: "discount" },
        { text: "color", value: "color" },
        { text: "size", value: "size" },
        { text: "quantity", value: "quantity" },
        { text: "edit", value: "edit" },
        { text: "delete", value: "delete" },
      ],
      disconutPrice: null,
      quantity: null,
      price: null,
      product: {},
      color: [],
      size: [],
      dataForSend: {
        color: null,
        size: null,
        twin: false,
      },
      image: [],
    };
  },
  mounted() {
    this.getOther();
    this.callproduct();
  },
  methods: {
    async getOther() {
      const res = await this.$axios.$get(
        `api/v1/get-product-other/${this.$route.params.id}`
      );
      res.map((dialog) => {
        dialog.dialogImage = false;
      });
      this.data = res;
    },
    async showImg(data) {
      const res = await this.$axios.$post("api/v1/product-other-image", data);
      this.image = res.data;
      if (this.image.length >= 1) {
        data.dialogImage = true;
      } else {
        this.snackAlert = true;
        this.textAlert = "ไม่มีรูปภาพ";
      }
      // console.log(this.image);
      // console.log(res);
    },
    async addColor() {
      if (this.dataForSend.color) {
        if (this.dataForSend.size) {
          const item = {
            code_name: this.product.res.code_name,
            product_id: this.product.res.id,
            color: this.dataForSend.color || null,
            size: this.dataForSend.size || null,
            twin: true,
          };
          const res = await this.$axios.$post(
            "api/v1/product/product-color",
            item
          );
          // console.log(res);

          if (res.success) {
            this.quantity = res.quantityColor;
            this.price = res.price;
            this.disconutPrice = res.discount;
          }
        } else {
          const item = {
            code_name: this.product.res.code_name,
            product_id: this.product.res.id,
            color: this.dataForSend.color || null,
            size: this.dataForSend.size || null,
          };
          const res = await this.$axios.$post(
            "api/v1/product/product-color",
            item
          );
          if (res.success) {
            this.quantity = res.quantityColor;
            this.price = res.price;
            this.disconutPrice = res.discount;
          }
        }
      } else {
        if (this.dataForSend.color) {
          const item = {
            code_name: this.product.res.code_name,
            product_id: this.product.res.id,
            color: this.dataForSend.color || null,
            size: this.dataForSend.size || null,
            twin: true,
          };
          const res = await this.$axios.$post(
            "api/v1/product/product-color",
            item
          );
          if (res.success) {
            this.quantity = res.quantityColor;
            this.price = res.price;
            this.disconutPrice = res.discount;
          }
        } else {
          const item = {
            code_name: this.product.res.code_name,
            product_id: this.product.res.id,
            color: this.dataForSend.color || null,
            size: this.dataForSend.size || null,
          };
          const res = await this.$axios.$post(
            "api/v1/product/product-color",
            item
          );
          // console.log(res);
          if (res.success) {
            this.quantity = res.quantityColor;
            this.price = res.price;
            this.disconutPrice = res.discount;
          }
        }
      }
      // const item = {
      //   code_name: this.product.res.code_name,
      //   product_id: this.product.res.id,
      //   color: this.dataForSend.color || null,
      //   size: this.dataForSend.size || null,
      //   checkColor: true,
      // };
    },
    async callproduct() {
      const data = { id: this.$route.params.id };
      const res = await this.$axios.$post(
        "api/v1/product/product-single-test-backend",
        data
      );

      for (let i = 0; i < res.product_other.length; i++) {
        if (res.product_other[i].color) {
          if (this.color.length >= 1) {
            for (let x = 0; x < this.color.length; x++) {
              if (this.color[x] == res.product_other[i].color) {
              } else {
                let found = this.color.indexOf(res.product_other[i].color);
                this.color.splice(found, found);
                this.color.push(res.product_other[i].color);
              }
            }
          } else {
            this.color.push(res.product_other[i].color);
          }
        }
      }

      for (let i = 0; i < res.product_other.length; i++) {
        if (res.product_other[i].size != 0) {
          let found = this.size.indexOf(res.product_other[i].size);
          this.size.splice(found, found);
          this.size.push(res.product_other[i].size);
        }
      }
      // console.log(this.color);
      if (res.stockAll) {
        this.quantity = res.stockAll;
      } else if (res.stock) {
        this.quantity = res.stock.quantity;
      }
      this.price = res.res.price;
      this.disconutPrice = res.res.discount;
      this.product = res;
      // console.log(this.product);
    },
  },
};
</script>