<template>
  <v-col cols="12" style="display: flex; justify-content: center">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-col lg="6" cols="12" style="border: 1px solid #000; border-radius: 3px">
      <strong><span style="color: red">*</span>Name</strong
      ><span> (จำเป็นต้องใส่)</span>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="categorData.name"
          label="Name"
          :rules="nameRules"
          outlined
          clearable
          @blur="checkValueName()"
        ></v-text-field>
        <v-switch
          v-model="categorData.displayed"
          class="pa-0"
          style="margin-top: -10px"
          label="Displayed"
        ></v-switch>
        <v-row>
          <span style="position: absolute; margin-left: 20px"
            >จำเป็นต้องเลือกแค่อย่างเดียว</span
          >
          <v-col cols="6">
            <v-checkbox
              v-model="categorData.main"
              label="เป็น Categories หลัก"
            ></v-checkbox>
          </v-col>
          <v-col cols="6">
            <v-checkbox
              v-show="show"
              v-model="category"
              @click="showList()"
              label="เลือกเป็น Categories ย่อย"
            ></v-checkbox>
            <v-checkbox
              v-show="hide"
              v-model="category"
              @click="hideList()"
              label="เลือกเป็น Categories ย่อย"
            ></v-checkbox>
          </v-col>
        </v-row>
        <select
          v-show="category"
          v-model="categorData.id_category_main"
          style="
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 10px;
            width: 100%;
            border-radius: 3px;
          "
        >
          <option v-for="(item, i) in mainCategories" :key="i" :value="item.id">
            {{ item.name }}
          </option>
        </select>
        <!-- <v-select
        v-show="category"
        v-model="categorData.id_category_main"
        :items="mainCategories.name"
        label="เลือกเป็นเมนูย่อย"
        outlined
        clearable
      ></v-select> -->
        <v-file-input
          v-model="categorData.img_cover"
          accept="image/png, image/jpeg, image/bmp, image/webp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          label="Category cover image"
        ></v-file-input>
        <!-- <v-file-input
          v-model="categorData.img_thumbnail"
          accept="image/png, image/jpeg, image/bmp, image/webp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          label="Category thumbnail"
        ></v-file-input>
        <v-file-input
          v-model="categorData.img_menu_thumbnail"
          accept="image/png, image/jpeg, image/bmp, image/webp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          label="Menu thumbnails"
        ></v-file-input> -->
        <strong><span style="color: red">*</span>Meta title</strong> (<span
          >0 of 70 characters used (recommended) </span
        >)
        <v-text-field
          v-model="categorData.meta_title"
          label="Meta title"
          :rules="metaTitleRules"
          outlined
          clearable
          counter
          maxlength="70"
        ></v-text-field>
        <strong><span style="color: red">*</span>Meta description</strong>
        <v-textarea
          v-model="categorData.meta_description"
          outlined
          name="input-7-4"
          label="Meta description"
          :rules="metaDescriptionRules"
          counter
          maxlength="160"
        ></v-textarea>

        <strong><span style="color: red">*</span>Meta keywords</strong> (<span
          >To add tags, click in the field, write something, and then press the
          "Enter" key. Invalid characters:;=#{} </span
        >)
        <v-text-field
          v-model="categorData.meta_keywords"
          label="Meta keywords"
          :rules="metaKeywordRules"
          outlined
          clearable
        ></v-text-field>
        <v-row style="background: #7a7a7a; padding: 10px">
          <v-col>
            <v-btn>Cancle</v-btn>
          </v-col>
          <v-col>
            <v-btn
              @click="createCategories()"
              :disabled="disable"
              style="float: right; background: #000; color: #fff"
              >Save</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      valid: true,
      nameRules: [
        (v) => !!v || "กรุณาใส่ชื่อ",
        (v) => (v && v.length <= 200) || "ชื่อคุณยาวเกินไป",
      ],
      metaTitleRules: [
        (v) => !!v || "กรุณาใส่ Meta title",
        (v) => (v && v.length <= 70) || "Meta title ยาวเกินไป",
      ],
      metaDescriptionRules: [
        (v) => !!v || "กรุณาใส่ Meta description",
        (v) => (v && v.length <= 160) || "Meta description ยาวเกินไป",
      ],
      metaKeywordRules: [
        (v) => !!v || "กรุณาใส่ Meta keywords",
        (v) => (v && v.length <= 160) || "Meta keywords ยาวเกินไป",
      ],
      hide: false,
      show: true,
      disable: true,
      categorData: {
        displayed: 0,
        main: 1,
        meta_title: "",
        meta_description: "",
        meta_keywords: "",
      },
      rules: {
        required: (value) => !!value || "จำเป็นต้องใส่.",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "ใส่ชื่อไม่ถูกต้อง";
        },
      },

      category: false,
      items: ["Cream", "skin"],
      textAlert: {},
      snackAlert: false,
      mainCategories: [],
    };
  },
  computed: {
    ...mapGetters({
      catagoryMain: "categories/categories/catagoryMain",
    }),
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    ...mapActions({
      addCategories: "categories/categories/addCategories",
      getCategories: "categories/categories/getCategories",
      addlist: "categories/addListCategories/addlist",
    }),
    showList() {
      this.show = false;
      this.hide = true;
      this.categorData.main = false;
      this.editCategoriesLoop();
    },
    hideList() {
      this.hide = false;
      this.show = true;
      this.mainCategories = [];
    },
    async editCategoriesLoop() {
      const res = await this.catagoryMain;

      let i = 0;
      for (i; i < res.length; i++) {
        this.mainCategories.push({ id: res[i].id, name: res[i].name });
      }
    },
    checkValueName() {
      if (this.categorData.name) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    async createCategories() {
      // ADD CATEGORIES LIST START
      if (this.$refs.form.validate()) {
        if (this.categorData.id_category_main) {
          const data = {
            name: this.categorData.name,
            id_category_main: this.categorData.id_category_main,
            displayed: this.categorData.displayed ? 1 : 0,
            main: this.categorData.main ? 1 : 0,
            img_cover: this.categorData.img_cover,
            meta_title: this.categorData.meta_title,
            meta_description: this.categorData.meta_description,
            meta_keywords: this.categorData.meta_keywords,
          };
          // console.log(this.categorData);
          const res = await this.addlist(data);
          if (res.success) {
            this.textAlert = res.message;
            this.snackAlert = true;
            this.categorData = {};
          } else {
            this.textAlert = res.message;
            this.snackAlert = true;
          }
          // ADD CATEGORIES LIST END
        }
        // ADD CATEGORIES MAIN START
        else {
          const data = {
            name: this.categorData.name,
            displayed: this.categorData.displayed ? 1 : 0,
            main: this.categorData.main ? 1 : 0,
            img_cover: this.categorData.img_cover,
            meta_title: this.categorData.meta_title,
            meta_description: this.categorData.meta_description,
            meta_keywords: this.categorData.meta_keywords,
          };
          const res = await this.addCategories(data);
          if (res.success) {
            this.textAlert = res.message;
            this.snackAlert = true;
            this.categorData = {};
          } else {
            this.textAlert = res.message;
            this.snackAlert = true;
          }
        }
      }
      // ADD CATEGORIES MAIN END
    },
  },
};
</script>
