<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="dataCategory"
      class="elevation-1"
      :search="search"
      style="margin-top: 20px"
    >
      <!-- <template v-slot:top>
        <v-row>
          <v-col lg="4">
            <v-text-field
              v-model="search"
              label="ค้นหาผ่านชื่อ"
              class="mx-4"
            ></v-text-field>
          </v-col> -->
      <!-- <v-col lg="4">
            <v-select
              :items="items"
              label="เลือก Brand สินค้า"
              outlined
            ></v-select>
          </v-col> -->
      <!-- </v-row>
      </template> -->
      <template v-slot:[`item.status`]="item">
        <v-switch
          v-model="item.item.displayed"
          @click="statusEdit(item.item)"
        ></v-switch>
      </template>
      <template v-slot:[`item.subcategory`]="item">
        <nuxtLink :to="`/categories/${item.item.id}`">
          <v-icon>mdi-format-list-bulleted-type</v-icon>
        </nuxtLink>
      </template>
      <template v-slot:[`item.delete`]="item">
        <v-icon @click="categoriesDelete(item.item)" style="color: red"
          >mdi-delete-forever</v-icon
        >
      </template>

      <!-- ข้อมูลของ categories ทั้งหมด และสามารถแก้ไขได้ตรงนี้เลย -->
      <template v-slot:[`item.detail`]="item">
        <v-icon @click="seeDetail(item.item)">mdi-feature-search</v-icon>
        <v-dialog v-model="item.item.dialog" width="450">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              ข้อมูลของ {{ item.item.name }} (สามารถแก้ไขข้อมูลตรงนี้ได้)
            </v-card-title>

            <v-container>
              <v-row>
                <v-col cols="12" style="display: flex; justify-content: center">
                  <img
                    v-if="infoCatOne.img_cover"
                    :src="`api/categories-main-image/${infoCatOne.img_cover}`"
                    width="250px"
                    height="250px"
                    alt="" />
                  <img
                    v-else
                    src="~assets/img/nopic.jpg"
                    width="250px"
                    height="250px"
                    style="border: 0.5px solid #000"
                    alt=""
                /></v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="img_cover"
                    accept="image/png, image/jpeg, image/bmp, image/webp"
                    placeholder="Pick an avatar"
                    prepend-icon="mdi-camera"
                    label="อัพรูปภาพใหม่"
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <h2>ชื่อ</h2>
                  <v-text-field
                    v-if="infoCatOne.name"
                    v-model="infoCatOne.name"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatOne.name"
                    value=""
                  ></v-text-field>
                </v-col>
                <v-col cols="12"
                  ><h2>Meta title</h2>
                  <v-text-field
                    v-if="infoCatOne.meta_title"
                    v-model="infoCatOne.meta_title"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatOne.meta_title"
                    value="ยังไม่ได้เพิ่ม Meta title"
                  ></v-text-field
                ></v-col>
                <v-col cols="12"
                  ><h2>
                    Meta description
                    <v-textarea
                      v-if="infoCatOne.meta_description"
                      v-model="infoCatOne.meta_description"
                    ></v-textarea>
                    <v-textarea
                      v-else
                      v-model="infoCatOne.meta_description"
                      value="ยังไม่ได้เพิ่ม Meta title"
                    ></v-textarea></h2
                ></v-col>
                <v-col cols="12"
                  ><h2>Meta Keywords</h2>
                  <v-text-field
                    v-if="infoCatOne.meta_keywords"
                    v-model="infoCatOne.meta_keywords"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatOne.meta_keywords"
                    value="ยังไม่ได้เพิ่ม Meta keywords"
                  ></v-text-field
                ></v-col>
                <v-row style="margin: 10px">
                  <v-col cols="6">
                    <v-btn
                      color="rbga(0,0,0,0.5)"
                      style="border: 0.5px solid #000"
                      text
                      @click="item.item.dialog = false"
                    >
                      Close
                    </v-btn>
                  </v-col>
                  <v-col cols="6"
                    ><v-btn
                      style="
                        border-radius: 0;
                        color: #fff;
                        background: #000;
                        float: right;
                      "
                      @click="editCategoriesMain(infoCatOne, img_cover)"
                      >แก้ไข</v-btn
                    ></v-col
                  >
                </v-row>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </template>
      <!-- ข้อมูลของ categories ทั้งหมด และสามารถแก้ไขได้ตรงนี้เลย -->
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      img_cover: [],
      search: "",
      headers: [
        {
          text: "Id",
          align: "start",
          sortable: false,
          value: "id",
        },
        {
          text: "Name",
          value: "name",
        },
        {
          text: "Status",
          value: "status",
        },
        { text: "Detail, Edit", value: "detail" },
        { text: "Sub Category", value: "subcategory" },
        { text: "Delete", value: "delete" },
      ],
      dataCategory: [],
      url: null,
      infoCatOne: {},
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.getres();
  },

  methods: {
    ...mapActions({
      selectCategoriesMain:
        "categories/selectCategoriesMain/selectCategoriesMain",
      selectOne: "categories/selectCategoriesMain/selectOne",
      editStatus: "categories/edit/main/editStatus",
      editStatusOnly: "categories/edit/main/editStatusOnly",
      deleteCategories: "categories/delete/mainDelete/deleteCategories",
    }),
    async getres() {
      const res = await this.selectCategoriesMain();
      const addDialog = res.map((edit) => {
        edit.dialog = false;
        return edit;
      });
      this.dataCategory = addDialog;
    },
    async seeDetail(data) {
      data.dialog = true;
      const res = await this.selectOne(data);
      this.infoCatOne = res[0];
    },
    async editCategoriesMain(data, img) {
      const dataEdit = {
        id: data.id,
        name: data.name,
        meta_title: data.meta_title,
        meta_description: data.meta_description,
        meta_keywords: data.meta_keywords,
        newImg: img,
      };
      if (dataEdit.newImg.name) {
        dataEdit.img_cover = data.img_cover;
      }
      // console.log(dataEdit);
      const res = await this.editStatus(dataEdit);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.img_cover = [];
        this.getres();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async statusEdit(data) {
      const displayed = {
        id: data.id,
        status_only: true,
        displayed: data.displayed,
      };
      const res = await this.editStatusOnly(displayed);
      console.log(res.data);
      if (res.data.success) {
        this.snackAlert = true;
        this.textAlert = res.data.message;
      } else {
        this.snackAlert = true;
        this.textAlert = res.data.message;
      }
    },
    async categoriesDelete(data) {
      if (confirm("คุณต้องการลบสิ่งนี้หรือไม่ ?")) {
        const res = await this.deleteCategories(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
        this.getres();
      }
    },
  },
};
</script>
