<template>
  <v-col cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-col class="pa-0" id="featured-pc">
      <v-row>
        <v-col
          v-for="(item, i) in dataFeature"
          :key="i"
          id="featured"
          cols="6"
          lg="4"
          style="position: relative"
        >
          <v-col class="imagefeatured1" style="--i: 1">
            <img
              :src="`/api/v1/feature-img/${item.image_1}`"
              :style="'--p:' + item.index1"
              alt=""
            />
          </v-col>
          <v-col class="imagefeatured2" style="--i: 1">
            <img
              :src="`/api/v1/feature-img/${item.image_2}`"
              :style="'--p:' + item.index2"
              alt=""
            />
          </v-col>
          <v-col
            style="display: flex; justify-content: center; padding-bottom: 0"
          >
            <v-switch
              @click="editStatus(item)"
              v-model="item.status"
              label="สถาณะ"
            ></v-switch>
          </v-col>
          <v-col style="display: flex; justify-content: center; padding: 0">
            <v-btn @click="deleteFeature(item)" color="red" elevation="6"
              ><v-icon color="#ffff">mdi-trash-can</v-icon></v-btn
            >
          </v-col>
        </v-col>
      </v-row>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      textAlert: {},
      snackAlert: false,
      dataFeature: [],
    };
  },
  mounted() {
    this.getFeature();
  },
  methods: {
    ...mapActions({
      getFeatureBrand: "homepage/create/feature-brand/getFeatureBrand",
      deleteAndEditFeatureBrand:
        "homepage/delete/feature-brand/deleteAndEditFeatureBrand",
    }),
    async getFeature() {
      this.dataFeature = await this.getFeatureBrand();
    },
    async editStatus(data) {
      const item = { id: data.id, status: data.status, is_delete: 0 };
      const res = await this.deleteAndEditFeatureBrand(item);
      this.getFeature();
      if (res.success) {
        this.textAlert = res.message;
        this.snackAlert = true;
      } else {
        this.textAlert = res.message;
        this.snackAlert = true;
      }
    },
    async deleteFeature(data) {
      const item = { id: data.id, status: 0, is_delete: 1 };
      if (confirm("คุณแน่ใจว่าจะสิ่งนี้ใช่หรือไม่ ?")) {
        const res = await this.deleteAndEditFeatureBrand(item);
        this.getFeature();
        if (res.success) {
          this.textAlert = res.message;
          this.snackAlert = true;
        } else {
          this.textAlert = res.message;
          this.snackAlert = true;
        }
      }
    },
  },
};
</script>
<style>
#featured {
  padding: 0;
}
#featured-start {
  text-align: center;
  font-style: italic;
  font-family: "PT Serif", serif !important;
  color: #ffffcc;
  font-size: 130px;
}
#featured .imagefeatured1 {
  position: absolute;
  left: 0;
  transition: 0.2s;
}
#featured .imagefeatured2 img {
  transition: 0.2s;
}
#featured .imagefeatured1 img,
#featured .imagefeatured2 img {
  z-index: var(--p);
  width: 280px;
}
#featured .imagefeatured1 img {
}
#featured .imagefeatured2 img {
  z-index: var(--p);
}
#featured .imagefeatured1,
.imagefeatured2 {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
/* #featured .imagefeatured1 {
  z-index: 10;
} */
#featured:hover .imagefeatured2 img {
  transition: 0.2s;
  transform: scale(1) translateX(calc(70px * var(--i)));
}
/* #featured .imagefeatured1 {
  max-width: 260px;
} */

@media screen and (max-width: 768px) {
  #featured:hover .imagefeatured2 img {
    transition: 0.2s;
    transform: scale(1) translateX(calc(60px * var(--i)));
  }
  #featured .imagefeatured1,
  .imagefeatured2 {
    display: flex;
    padding: 10px 0 10px 0;
  }
  #featured-start {
    font-size: 80px;
  }
  #featured .imagefeatured1 img,
  #featured .imagefeatured2 img {
    width: 240px;
  }

  /* #featured-pc {
    display: none;
  } */
}
@media screen and (max-width: 540px) {
  #featured:hover .imagefeatured2 img {
    transition: 0.2s;
    transform: scale(1) translateX(calc(40px * var(--i)));
  }
  #featured .imagefeatured1 img,
  #featured .imagefeatured2 img {
    width: 160px;
  }
  #featured-start {
    text-align: left;
    font-size: 50px;
  }
  #image-cover-featured {
    width: 100%;
  }
}
</style>
