<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="dataCarouselImage"
      :items-per-page="20"
      class="elevation-10"
    >
      <template v-slot:[`item.image`]="item">
        <v-img
          max-width="100"
          max-height="100"
          :src="`/homepage/v1/image-carousel/${item.item.carousel_image}`"
        ></v-img>
      </template>
      <template v-slot:[`item.alt`]="item">
        <input
          type="text"
          v-model="item.item.carousel_alt"
          @keydown.enter="altEdit(item.item)"
          style="border:1px solid rgba(0,0,0,0.5);width:100%;"
        />
      </template>
      <template v-slot:[`item.rating`]="item">
        <input
          type="text"
          v-model="item.item.rating"
          @keydown.enter="ratingEdit(item.item)"
          style="width:50px;border:1px solid rgba(0,0,0,0.5);text-align:center;"
        />
      </template>
      <template v-slot:[`item.status`]="item">
        <v-switch
          v-model="item.item.status"
          @click="statusEdit(item.item)"
        ></v-switch>
      </template>
      <template v-slot:[`item.delete`]="item">
        <v-btn icon @click="carouselDelete(item.item)"
          ><v-icon>mdi-trash-can-outline</v-icon></v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      dataCarouselImage: [],
      headers: [
        {
          text: "Image",
          align: "start",
          sortable: false,
          value: "image",
          width: "100",
        },
        { text: "alt ภาพ", value: "alt" },

        { text: "อับดับภาพ", value: "rating", align: "center" },
        { text: "Status", value: "status" },
        { text: "Delete", value: "delete" },
      ],
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.showCarouselImage();
  },
  methods: {
    ...mapActions({
      selectImage: "homepage/select/carousel/selectImage",
      editStatus: "homepage/edit/carousel/editStatus",
      deleteCarousel: "homepage/delete/carousel/deleteCarousel",
    }),
    async showCarouselImage() {
      const res = await this.selectImage();
      this.dataCarouselImage = res;
    },
    async carouselDelete(data) {
      if (confirm("คุณแน่ใจว่าจะลบรูปนี้ใช่หรือไม่ ?")) {
        const res = await this.deleteCarousel(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.showCarouselImage();
        }
      }
    },
    async statusEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
    async altEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
    async ratingEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
  },
};
</script>
