<template>
  <div>
    <v-col cols="12" class="pa-0">
      <nuxtLink to="/Customer">Customer</nuxtLink> > <span>address</span>
      <v-row>
        <v-col cols="4">
          <h1>Address</h1>
        </v-col>
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="customerAddress"
      :items-per-page="10"
      class="elevation-1"
    >
      <!-- <template v-slot:[`item.in-cart`]="item">
        <v-btn :to="`/customer/in-cart/${item.item.id}`" icon
          ><v-icon>mdi-cart</v-icon></v-btn
        >
      </template> -->
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      headers: [
        { text: "fullname", value: "fullname", sortable: false },
        { text: "address", value: "address", sortable: false },
        { text: "parish", value: "parish", sortable: false },
        { text: "district", value: "district", sortable: false },
        { text: "province", value: "province", sortable: false },
        { text: "phone_nummber", value: "phone_nummber", sortable: false },
        { text: "zipcode", value: "zipcode", sortable: false },
      ],
      customerAddress: [],
    };
  },
  mounted() {
    this.getAddress();
  },
  methods: {
    ...mapActions({
      addressCustomer: "customer/addressCustomer",
    }),
    async getAddress() {
      const res = await this.addressCustomer(this.$route.params.id);
      this.customerAddress = res.data;
      console.log(this.customerAddress);
    },
  },
};
</script>
