<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      style="box-shadow:2px 0px 6px rgba(0,0,0,0.5);"
    >
      <v-list>
        <v-list-item to="/" router exact>
          <v-list-item-action>
            <v-icon>mdi-apps</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            Dashboard
          </v-list-item-content>
        </v-list-item>
        <!-- menu-catalog -->
        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon>mdi-shape</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Catalog</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item to="/categories">
            <v-list-item-content>
              <v-list-item-title>Categories</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/brands">
            <v-list-item-content>
              <v-list-item-title>Brands</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/product">
            <v-list-item-content>
              <v-list-item-title>Product</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item to="/customer" router exact>
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            Customer
          </v-list-item-content>
        </v-list-item>
         <v-list-item to="/payment" router exact>
          <v-list-item-action>
            <v-icon>mdi-deskphone</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            Payment
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/review-content" router exact>
          <v-list-item-action>
            <v-icon>mdi-bulletin-board</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            Review
          </v-list-item-content>
        </v-list-item>
        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Homepage</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item to="/homepage/carousel">
            <v-list-item-content>
              <v-list-item-title>Carousel</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/homepage/new-arrival">
            <v-list-item-content>
              <v-list-item-title>New Arrival</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/homepage/best-sellers">
            <v-list-item-content>
              <v-list-item-title>Best Sellers</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/homepage/featured-brand">
            <v-list-item-content>
              <v-list-item-title>Featured Brand</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item to="/you_may_also_like" router exact>
          <v-list-item-action>
            <v-icon>mdi-star-circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            You May Also Like
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/promotion" router exact>
          <v-list-item-action>
            <v-icon>mdi-star-circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           Promotion
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/seoulgoodspick" router exact>
          <v-list-item-action>
            <v-icon>mdi-star-circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           Seoulgood's Pick
          </v-list-item-content>
        </v-list-item>
        <!-- menu-catalog -->
      </v-list>
    </v-navigation-drawer>

    <!-- <v-app-bar :clipped-left="clipped" fixed app> -->
    <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
    <!-- <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? "right" : "left"}` }}</v-icon>
      </v-btn> -->
    <!-- <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn> -->
    <!-- <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer /> -->
    <!-- <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn> -->
    <!-- </v-app-bar> -->
    <v-main>
      <v-row>
        <v-col cols="2" style="padding:10px;">
          <v-app-bar-nav-icon
            @click.stop="drawer = !drawer"
            style="background:rgba(231, 231, 231,0.8);margin:10px;"
          />
        </v-col>
        <v-col cols="10" style="padding:20px;">
          <v-col
            style="display:flex;justify-content:flex-end;align-items:center;"
          >
            <h3 style="text-align:right;">{{ $auth.user.username }}</h3>
            <v-btn icon style="float:right;color:#000;"
              ><v-icon>mdi-account</v-icon></v-btn
            >
            <v-btn icon style="float:right;color:#000;"
              ><v-icon>mdi-bell</v-icon></v-btn
            >
            <v-btn icon @click="logoutEmployee()"
              ><v-icon>mdi-logout</v-icon></v-btn
            ></v-col
          >
        </v-col>
      </v-row>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="fixed" style="box-shadow: 0 -0.5px 6px #000" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

export default {
  middleware: "auth",
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "BackEnd",
    };
  },
  methods: {
    ...mapActions({
      logout: "employee/auth/logout",
    }),
    async logoutEmployee() {
      const res = await this.logout();
      if (res.success) {
        await this.$nuxt.$auth.logout();
        this.$router.push("/login");
      }
    },
  },
};
</script>
