<template>
  <div>
    <v-col cols="12" class="pa-0">
      <span>Catalog</span> > <nuxtLink to="/brands">Brands</nuxtLink>

      <v-row>
        <v-col cols="4">
          <h1>Brands</h1>
        </v-col>
        <v-col lg="8">
          <v-btn to="/brands/add-brands" style="float:right" id="v-btn-add">
            <v-icon>mdi-plus-circle-outline</v-icon> ADD BRANDS</v-btn
          >
        </v-col>
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <Table />
  </div>
</template>
<script>
import Table from "@/components/brands/table-brands";

export default {
  components: {
    Table,
  },
};
</script>
<style>
#v-btn-add {
  border-radius: 0;
  background: #000;
  color: #fff;
}
</style>
