<template>
  <div>
    <h1>Stock สินค้า</h1>
    <v-divider style="margin-bottom: 10px"></v-divider>
    <v-btn to="/stock/add-product">เพิ่มสินค้า</v-btn>
    <Table />
  </div>
</template>
<script>
import Table from "@/components/stock/table";
export default {
  name: "stock",
  components: {
    Table,
  },
};
</script>