<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-col cols="12" class="pa-0">
      <nuxt-link to="/product">Product</nuxt-link
      ><span> > add-product-other</span>
      <v-divider class="mt-4 pb-4"></v-divider>
      <h2>เพิ่มสินค้าจำพวกมีสีหรือมีไซส์</h2>
    </v-col>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field v-model="dataProduct.name" :disabled="true" label="name">
      </v-text-field>
      <v-text-field
        v-model="productData.price"
        :rules="priceRules"
        label="ราคา"
      >
      </v-text-field>
      <v-text-field
        v-model="productData.discount"
        :rules="discountRules"
        label="ส่วนลด"
      >
      </v-text-field>
      <v-col cols="12" class="pa-0">
        <v-col class="pa-2 pl-0">
          <h2>ตัวเลือกสินค้าที่ 1</h2>
        </v-col>
      </v-col>
      <v-text-field v-model="productData.color" label="ตัวเลือกที่ 1"> </v-text-field>
      <!-- <v-text-field v-model="productData.code_color" label="code สี(กรณีเป็นสินค้าจำพวกสี)">
      </v-text-field> -->
      <v-col cols="12" class="pa-0">
        <v-col class="pa-2 pl-0">
          <h2>ตัวเลือกสินค้าที่ 2</h2>
        </v-col>
      </v-col>
      <v-text-field v-model="productData.size" label="ตัวเลือกที่ 2"> </v-text-field>
      <v-text-field
        v-model="productData.quantity"
        :rules="quantityRules"
        label="จำนวน"
      >
      </v-text-field>
      <v-file-input
        multiple
        :rules="imageRules"
        v-model="productData.image"
        label="อัพโหลดรูปสิ้นค้าภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
        accept="image/png, image/jpeg, image/gif"
        filled
        :clearable="false"
        prepend-icon="mdi-camera"
        @change="onFileChangeOther"
      ></v-file-input>
      <v-row>
        <v-col
          cols="4"
          v-for="(item, i) in imageDetailForShow"
          :key="i"
          style="position: relative"
        >
          <span>
            <v-img
              max-height="250"
              width="100%"
              :src="item.blob"
              :alt="item.name"
            ></v-img>
          </span>
          <div class="mt-4">
            <v-btn
              icon
              @click="removeImageDetail(item)"
              style="position: absolute; right: 10px; top: 10px; color: #000"
              ><v-icon style="border: 0.5px solid #fff"
                >mdi-close-box</v-icon
              ></v-btn
            >
          </div>
        </v-col>
      </v-row>
      <v-btn
        style="background: #000; color: #fff; border-radius: 0"
        @click="addProductOther()"
        >เพิ่มสินค้า</v-btn
      >
    </v-form>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      dataProduct: {},
      valid: true,
      priceRules: [(v) => !!v || "กรุณาใส่ราคา"],
      imageRules: [(v) => !!v || "กรุณาใส่รูปภาพ"],
      discountRules: [(v) => !!v || "กรุณาใส่ส่วนลด"],
      quantityRules: [(v) => !!v || "กรุณาใส่จำนวนสินค้า"],
      productData: {
        color: "",
        size: "",
      },
      snackAlert: false,
      textAlert: "",
      imageDetailForShow: [],
    };
  },
  mounted() {
    this.callproduct();
  },
  methods: {
    ...mapActions({
      addProductOtherByStore: "product/create/create/addProductOtherByStore",
    }),
    removeImageDetail(data) {
      const found = this.imageDetailForShow.indexOf(data);
      this.imageDetailForShow.splice(found, 1);
      this.productData.image.splice(found, 1);
      // console.log(this.imageForShow);
    },
    onFileChangeOther(e) {
      e.map((showImage) => {
        this.imageDetailForShow.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
    },
    addColor(number) {
      if (number == 1) {
        this.productData.color = "red";
      }
    },
    async callproduct() {
      const data = { id: this.$route.params.id };
      const res = await this.$axios.$post(
        "api/v1/product/product-single-test-backend",
        data
      );
      // console.log(res);
      if (res) {
        this.dataProduct = res.res;
        // console.log(this.dataProduct);
      }
    },
    async addProductOther() {
      if (this.$refs.form.validate()) {
        const data = {
          product_id: this.$route.params.id,
          price: this.productData.price,
          discount: this.productData.discount,
          color: this.productData.color || 0,
          code_color: this.productData.code_color || null,
          //pdo or null
          size: this.productData.size || 0,
          quantity: this.productData.quantity,
          image: this.productData.image,
        };
        // const res = await this.$axios.$post("api/v1/add-product-other", data);
        const res = await this.addProductOtherByStore(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>