<template>
  <v-col cols="12" style="padding-top: 0; padding-bottom: 0">
    <span v-for="(item, i) in selected" :key="i">
      <v-checkbox
        :label="item.name"
        :value="item.id"
        v-model="item.add"
        @click="send()"
      >
      </v-checkbox>
      <v-col>
        <v-row>
          <v-col cols="1" class="pa-0">
            <v-icon v-show="item.off" @click="checkList(item)"
              >mdi-chevron-right</v-icon
            >
            <v-icon v-show="item.show" @click="closeList(item)"
              >mdi-chevron-left</v-icon
            >
          </v-col>
          <v-col cols="11" class="pa-0" v-show="item.show">
            <v-checkbox
              v-for="(list, g) in item.listName"
              :key="g"
              :label="list.name"
              :value="list.id"
              v-model="item.listData"
              @click="send()"
            >
            </v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </span>
    <!-- <v-btn @click="send()">send</v-btn> -->
  </v-col>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      selected: [],
      // listData: [],
      category: null,
    };
  },
  watch: {
    category: function (newCategory) {
      this.$emit("addInput", newCategory);
    },
  },
  mounted() {
    this.callCategory();
  },
  methods: {
    send() {
      let category = [];
      this.selected.map((edit) => {
        let list = null;
        if (edit.listData.length > 0) {
          list = {
            id: edit.id,
            isSelect: edit.add ? true : false,
            subCategory: edit.listData,
          };
          category.push(list);
        } else {
          if (edit.add) {
            list = {
              id: edit.id,
              isSelect: edit.add ? true : false,
              subCategory: null,
            };
            category.push(list);
          }
        }
      });
      this.category = JSON.stringify(category);
      // console.log(JSON.stringify(category));
    },
    async callCategory() {
      const res = await this.$axios.$get("api/categories-main");
      const show = res.map((edit) => {
        edit.show = false;
        edit.off = true;
        edit.add = false;
        edit.listName = [];
        edit.listData = [];
        return edit;
      });
      this.selected = show;
      // console.log(this.selected);
    },
    async checkList(data, booleanValue) {
      // console.log(data);
      data.show = true;
      data.off = false;
      const res = await this.$axios.$post(
        "api/categories-list-for-product",
        data
      );
      for (let i = 0; i < res.length; i++) {
        if (data.id === res[i].id_category_main) {
          data.listName.push({ id: res[i].id, name: res[i].name });
        }
        // console.log(data.listName);
      }
    },
    closeList(data) {
      data.off = true;
      data.show = false;
      data.listName = [];
    },
  },
};
</script>
