<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="productMain"
      class="elevation-10"
      style="margin-top: 20px"
    >
      <template v-slot:[`item.image`]="item">
        <v-btn icon @click="showImg(item.item)"
          ><v-icon>mdi-camera-image</v-icon></v-btn
        >
        <v-dialog
          v-model="item.item.dialogImg"
          transition="dialog-bottom-transition"
          max-width="600"
        >
          <v-card>
            <v-toolbar color="primary" dark
              >รูปภาพของสินค้า {{ item.item.name }}</v-toolbar
            >
            <v-card-text>
              <v-row class="mt-6">
                <v-col v-for="(item, i) in imgForShow" :key="i">
                  <v-img
                    v-if="item.main === 1"
                    max-height="350"
                    max-width="350"
                    :src="`api/v1/product/picture-product/${item.image}`"
                    style="border: 3px solid green"
                  ></v-img>
                  <v-img
                    v-else
                    max-height="350"
                    max-width="350"
                    :src="`api/v1/product/picture-product/${item.image}`"
                  ></v-img>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn text @click="item.item.dialogImg = false">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.id`]="item">
        <span v-if="item.item.colorAndSizeQuantity" style="color: red">{{
          item.item.id
        }}</span>
        <span v-else style="color: #7789c5">{{ item.item.id }}</span>
      </template>
      <template v-slot:[`item.name`]="item">
        <nuxt-link v-if="item.item.colorAndSizeQuantity" :to="`product/other/${item.item.id}`">{{ item.item.name }}
        </nuxt-link>
        <span v-if="!item.item.colorAndSizeQuantity">{{ item.item.name }}</span>
      </template>
      <template v-slot:[`item.status`]="item">
        <v-switch
          v-model="item.item.status"
          @click="editStatus(item.item)"
        ></v-switch>
      </template>
      <template v-slot:[`item.quantity`]="item">
        <h4 v-if="item.item.colorAndSizeQuantity">
          {{ item.item.colorAndSizeQuantity }}
        </h4>
        <h4 v-else>{{ item.item.quantity }}</h4>
        <!-- <input
          id="quantity"
          type="text"
          v-model="item.item.quantity"
          @keypress.enter="editStock(item.item)"
          style="padding:10px;border:0.5px solid rgba(0,0,0,0.3);width:80px;text-align:center;"
        /> -->
      </template>
      <template v-slot:[`item.colorAndSize`]="item">
        <v-btn icon :to="`product/add-product-other/${item.item.id}`"
          ><v-icon>mdi-dots-horizontal-circle</v-icon></v-btn
        >
      </template>
      <!-- แก้ไขข้อมูล -->
      <template v-slot:[`item.edit`]="item">
        <v-btn icon :to="`product/edit/${item.item.id}`"
          ><v-icon>mdi-pencil</v-icon></v-btn
        >
      </template>
      <template v-slot:[`item.delete`]="item">
        <v-icon @click="productDelete(item.item)" style="color: red"
          >mdi-delete-forever</v-icon
        >
      </template>
      <!-- image -->
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        {
          text: "IMAGE",
          value: "image",
        },
        {
          text: "NAME",
          value: "name",
        },
        {
          text: "BRAND",
          value: "brand",
        },
        {
          text: "PRICE",
          value: "price",
        },
        {
          text: "Status",
          value: "status",
        },
        {
          text: "เพิ่มสินค้ามีสีหรือมีไซส์",
          value: "colorAndSize",
          align: "center",
        },
        {
          text: "quantity",
          value: "quantity",
          align: "center",
        },
        {
          text: "EDIT",
          value: "edit",
        },
        { text: "Delete", value: "delete" },
      ],
      productMain: [],
      snackAlert: false,
      textAlert: "",
      imgForShow: [],
    };
  },
  mounted() {
    this.getProductMain();
  },
  methods: {
    ...mapActions({
      selectProduct: "product/select/getProduct/selectProduct",
      showImage: "product/select/getProduct/showImage",
      editquantity: "stock/edit/editquantity",
      editStatusProduct: "product/edit/editStatusProduct/editStatusProduct",
      deleteProduct: "product/delete/deleteProduct/deleteProduct",
    }),
    async getProductMain() {
      const res = await this.selectProduct();
      // console.log(res);
      res.data.map((edit) => {
        edit.colorAndSizeQuantity = 0;
        for (let i = 0; i < res.pdo.length; i++) {
          if (edit.id == res.pdo[i].product_id) {
            edit.colorAndSizeQuantity += res.pdo[i].quantity;
          }
        }
        edit.dialogImg = false;
      });
      // console.log(res);
      this.productMain = res.data;
    },
    async editStatus(item) {
      const data = { id: item.id, status: item.status ? 1 : 0 };
      const res = await this.editStatusProduct(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async editStock(dataProduct) {
      const data = { id: dataProduct.id, quantity: dataProduct.quantity };
      const res = await this.editquantity(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async showImg(data) {
      const res = await this.showImage(data);
      this.imgForShow = res;
      // console.log(this.imgForShow);
      data.dialogImg = true;
    },
    async productDelete(item) {
      const data = { id: item.id };
      if (confirm("คุณต้องจะลบสินค้านี้ใช่หรือไม่ ?")) {
        const res = await this.deleteProduct(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductMain();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>
