<template>
  <v-col cols="12" style="display: flex; justify-content: center">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-col lg="6" cols="12" style="border: 1px solid #000; border-radius: 3px">
      <strong><span style="color: red">*</span>Name</strong
      ><span> (จำเป็นต้องใส่)</span>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="categorData.name"
          label="Name"
          :rules="nameRules"
          outlined
          clearable
          @blur="checkValueName()"
        ></v-text-field>
        <v-switch
          v-model="categorData.status"
          class="pa-0"
          style="margin-top: -10px"
          label="Displayed"
        ></v-switch>
        <v-file-input
          v-model="categorData.img"
          accept="image/png, image/jpeg, image/bmp, image/webp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          label="Brands image"
        ></v-file-input>
        <strong><span style="color: red">*</span>Meta title</strong> (<span
          >0 of 70 characters used (recommended) </span
        >)
        <v-text-field
          v-model="categorData.meta_title"
          label="Meta title"
          :rules="metaTitleRules"
          outlined
          clearable
          counter
          maxlength="70"
        ></v-text-field>
        <strong><span style="color: red">*</span>Meta description</strong>
        <v-textarea
          v-model="categorData.meta_description"
          :rules="metaDescriptionRules"
          outlined
          name="input-7-4"
          label="Meta description"
          counter
          maxlength="160"
        ></v-textarea>

        <strong><span style="color: red">*</span>Meta keywords</strong> (<span
          >To add tags, click in the field, write something, and then press the
          "Enter" key. Invalid characters:;=#{} </span
        >)
        <v-text-field
          v-model="categorData.meta_keywords"
          :rules="metaKeywordRules"
          label="Meta keywords"
          outlined
          clearable
        ></v-text-field>
        <v-row style="background: #7a7a7a; padding: 10px">
          <v-col>
            <v-btn>Cancle</v-btn>
          </v-col>
          <v-col>
            <v-btn
              @click="createBrand()"
              :disabled="disable"
              style="float: right; background: #000; color: #fff"
              >Save</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      valid: true,
      nameRules: [
        (v) => !!v || "กรุณาใส่ชื่อ",
        (v) => (v && v.length <= 200) || "ชื่อคุณยาวเกินไป",
      ],
      metaTitleRules: [
        (v) => !!v || "กรุณาใส่ Meta title",
        (v) => (v && v.length <= 70) || "Meta title ยาวเกินไป",
      ],
      metaDescriptionRules: [
        (v) => !!v || "กรุณาใส่ Meta description",
        (v) => (v && v.length <= 160) || "Meta description ยาวเกินไป",
      ],
      metaKeywordRules: [
        (v) => !!v || "กรุณาใส่ Meta keywords",
        (v) => (v && v.length <= 160) || "Meta keywords ยาวเกินไป",
      ],
      disable: true,
      textAlert: {},
      snackAlert: false,
      categorData: { status: 0 },
    };
  },
  methods: {
    ...mapActions({
      addBrands: "brands/addBrands/addBrands",
    }),
    checkValueName() {
      if (this.categorData.name) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    async createBrand() {
      // console.log(this.categorData);
      if (this.$refs.form.validate()) {
        const data = {
          name: this.categorData.name,
          status: this.categorData.status ? 1 : 0,
          img: this.categorData.img,
          meta_title: this.categorData.meta_title,
          meta_description: this.categorData.meta_description,
          meta_keywords: this.categorData.meta_keywords,
        };
        const res = await this.addBrands(data);
        if (res.success) {
          this.textAlert = res.message;
          this.snackAlert = true;
          this.categorData = {};
        } else {
          this.textAlert = res.message;
          this.snackAlert = true;
        }
      }
    },
  },
};
</script>
