<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="dataBrands"
      class="elevation-1"
      :search="search"
      style="margin-top: 20px"
    >
      <!-- <template v-slot:top>
        <v-row>
          <v-col lg="4">
            <v-text-field
              v-model="search"
              label="ค้นหาผ่านชื่อ"
              class="mx-4"
            ></v-text-field>
          </v-col> -->
      <!-- <v-col lg="4">
            <v-select
              :items="items"
              label="เลือก Brand สินค้า"
              outlined
            ></v-select>
          </v-col> -->
      <!-- </v-row>
      </template> -->
      <template v-slot:[`item.status`]="item">
        <v-switch
          v-model="item.item.status"
          @click="statusEdit(item.item)"
        ></v-switch>
      </template>
      <!-- แก้ไขข้อมูล -->
      <template v-slot:[`item.edit`]="item">
        <v-icon @click="openDialogEdit(item.item)">mdi-pencil</v-icon>
        <v-dialog v-model="item.item.dialog" width="450">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              ข้อมูลของ {{ item.item.name }}
            </v-card-title>

            <v-container>
              <v-row>
                <v-col cols="12" style="display:flex;justify-content:center;">
                  <img
                    v-if="item.item.img"
                    :src="`brands/v1/picture/brands-img/${item.item.img}`"
                    width="250px"
                    height="250px"
                    alt=""/>
                  <img
                    v-else
                    src="~assets/img/nopic.jpg"
                    width="250px"
                    height="250px"
                    style="border: 0.5px solid #000"
                    alt=""
                /></v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="img_cover"
                    accept="image/png, image/jpeg, image/bmp, image/webp"
                    placeholder="Pick an avatar"
                    prepend-icon="mdi-camera"
                    label="อัพรูปภาพใหม่"
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <h2>ชื่อ</h2>
                  <v-text-field
                    v-if="dataForEdit.name"
                    v-model="dataForEdit.name"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="dataForEdit.name"
                    value=""
                  ></v-text-field>
                </v-col>
                <v-col cols="12"
                  ><h2>Meta title</h2>
                  <v-text-field
                    v-if="dataForEdit.meta_title"
                    v-model="dataForEdit.meta_title"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="dataForEdit.meta_title"
                    value="ยังไม่ได้เพิ่ม Meta title"
                  ></v-text-field
                ></v-col>
                <v-col cols="12"
                  ><h2>
                    Meta description
                    <v-textarea
                      v-if="dataForEdit.meta_description"
                      v-model="dataForEdit.meta_description"
                    ></v-textarea>
                    <v-textarea
                      v-else
                      v-model="dataForEdit.meta_description"
                      value="ยังไม่ได้เพิ่ม Meta title"
                    ></v-textarea></h2
                ></v-col>
                <v-col cols="12"
                  ><h2>
                    Meta Keywords
                  </h2>
                  <v-text-field
                    v-if="dataForEdit.meta_keywords"
                    v-model="dataForEdit.meta_keywords"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="dataForEdit.meta_keywords"
                    value="ยังไม่ได้เพิ่ม Meta keywords"
                  ></v-text-field
                ></v-col>
                <v-row style="margin:10px">
                  <v-col cols="6">
                    <v-btn
                      color="rbga(0,0,0,0.5)"
                      style="border:0.5px solid #000"
                      text
                      @click="item.item.dialog = false"
                    >
                      Close
                    </v-btn>
                  </v-col>
                  <v-col cols="6"
                    ><v-btn
                      style="border-radius:0;color:#fff;background:#000;float:right;"
                      @click="editBrandsData(dataForEdit, img_cover)"
                      >แก้ไข</v-btn
                    ></v-col
                  >
                </v-row>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
        <!-- <nuxtLink :to="`/brands/edit/${item.item.name}`"> -->
        <!-- </nuxtLink> -->
      </template>
      <template v-slot:[`item.delete`]="item">
        <v-icon @click="brandsDelete(item.item)" style="color: red"
          >mdi-delete-forever</v-icon
        >
      </template>
      <!-- image -->
      <template v-slot:[`item.image`]="item">
        <img
          v-if="item.item.img"
          :src="`brands/v1/picture/brands-img/${item.item.img}`"
          width="100px"
          alt=""
        />
        <img
          v-else
          src="~assets/img/nopic.jpg"
          width="100px"
          style="border: 0.5px solid #000"
          alt=""
        />
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      img_cover: [],
      dialog: false,
      search: "",
      headers: [
        {
          text: "Id",
          align: "start",
          sortable: false,
          value: "id",
        },
        {
          text: "Name",
          value: "name",
        },
        {
          text: "Logo",
          value: "image",
        },
        {
          text: "Status",
          value: "status",
        },
        { text: "Detail, Edit", value: "edit" },
        { text: "Delete", value: "delete" },
      ],
      dataBrands: [],
      url: null,
      dataForEdit: {},
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.getres();
  },

  methods: {
    ...mapActions({
      selectCategoriesMain:
        "categories/selectCategoriesMain/selectCategoriesMain",
      selectBrands: "brands/selectBrands/selectBrands",
      selectOne: "brands/selectBrands/selectOne",
      editBrandStatus: "brands/edit/editBrandStatus",
      deleteBrands: "brands/delete/deleteBrands",
    }),
    async getres() {
      const res = await this.selectBrands();
      const addDialog = res.map((edit) => {
        edit.dialog = false;
        return edit;
      });
      this.dataBrands = addDialog;
    },
    async openDialogEdit(data) {
      data.dialog = true;
      const res = await this.selectOne(data);
      this.dataForEdit = res[0];
    },
    async editBrandsData(data, img) {
      const dataEdit = {
        id: data.id,
        name: data.name,
        meta_title: data.meta_title,
        meta_description: data.meta_description,
        meta_keywords: data.meta_keywords,
        newImg: img,
      };
      if (dataEdit.newImg.name) {
        dataEdit.img = data.img;
      }
      // console.log(dataEdit);
      const res = await this.editBrandStatus(dataEdit);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.img_cover = [];
        this.getres();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async statusEdit(data) {
      const status = { id: data.id, status: data.status, img: 1 };
      // console.log(status);
      // console.log(data);
      const res = await this.editBrandStatus(status);
      if (res.success) {
        this.textAlert = res.message;
        this.snackAlert = true;
        this.categorData = {};
      } else {
        this.textAlert = res.message;
        this.snackAlert = true;
      }
    },
    async brandsDelete(data) {
      if (confirm("คุณต้องการลบสิ่งนี้หรือไม่ ?")) {
        const res = await this.deleteBrands(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
        this.getres();
      }
    },
  },
};
</script>
