<template>
  <div>
    <v-col cols="12" class="pa-0">
      <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
      <span>Catalog</span> > <nuxtLink to="/categories">Categories</nuxtLink>
      <v-row>
        <v-col cols="4">
          <h1>{{ nameCategoryMain.name }}</h1>
        </v-col>
        <v-col lg="8">
          <v-btn
            to="/categories/add-category"
            style="float:right"
            id="v-btn-add"
          >
            <v-icon>mdi-plus-circle-outline</v-icon> ADD CATEGORIES</v-btn
          >
        </v-col>
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="dataCategorylist"
      class="elevation-1"
      style="margin-top:20px;"
    >
      <template v-slot:[`item.status`]="item">
        <v-switch
          v-model="item.item.displayed"
          @click="statusEdit(item.item)"
        ></v-switch>
      </template>
      <template v-slot:[`item.subcategory`]="item">
        <nuxtLink :to="`/categories/${item.item.name}`">
          <v-icon>mdi-format-list-bulleted-type</v-icon>
        </nuxtLink>
      </template>
      <template v-slot:[`item.delete`]="item">
        <v-icon @click="categoriesDelete(item.item)" style="color:red;"
          >mdi-delete-forever</v-icon
        >
      </template>
      <!-- ข้อมูลของ categories ทั้งหมด และสามารถแก้ไขได้ตรงนี้เลย -->
      <template v-slot:[`item.detail`]="item">
        <v-icon @click="seeDetail(item.item)">mdi-feature-search</v-icon>
        <v-dialog v-model="item.item.dialog" width="450">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              ข้อมูลของ {{ item.item.name }} (สามารถแก้ไขข้อมูลตรงนี้ได้)
            </v-card-title>

            <v-container>
              <v-row>
                <v-col cols="12" style="display:flex;justify-content:center;">
                  <img
                    v-if="infoCatListOne.img_cover"
                    :src="
                      `/api/categories-list-image/${infoCatListOne.img_cover}`
                    "
                    width="250px"
                    height="250px"
                    alt=""/>
                  <img
                    v-else
                    src="~assets/img/nopic.jpg"
                    width="250px"
                    style="border:0.5px solid #000;"
                    alt=""
                /></v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="img_cover"
                    accept="image/png, image/jpeg, image/bmp, image/webp"
                    placeholder="Pick an avatar"
                    prepend-icon="mdi-camera"
                    label="Category cover image"
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <h2>ชื่อ</h2>
                  <v-text-field
                    v-if="infoCatListOne.name"
                    v-model="infoCatListOne.name"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatListOne.name"
                    value=""
                  ></v-text-field>
                </v-col>

                <v-col cols="12"
                  ><h2>Meta title</h2>
                  <v-text-field
                    v-if="infoCatListOne.meta_title"
                    v-model="infoCatListOne.meta_title"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatListOne.meta_title"
                    value="ยังไม่ได้เพิ่ม Meta title"
                  ></v-text-field
                ></v-col>
                <v-col cols="12"
                  ><h2>
                    Meta description
                    <v-textarea
                      v-if="infoCatListOne.meta_description"
                      v-model="infoCatListOne.meta_description"
                    ></v-textarea>
                    <v-textarea
                      v-else
                      v-model="infoCatListOne.meta_description"
                      value="ยังไม่ได้เพิ่ม Meta title"
                    ></v-textarea></h2
                ></v-col>
                <v-col cols="12"
                  ><h2>
                    Meta Keywords
                  </h2>
                  <v-text-field
                    v-if="infoCatListOne.meta_keywords"
                    v-model="infoCatListOne.meta_keywords"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    v-model="infoCatListOne.meta_keywords"
                    value="ยังไม่ได้เพิ่ม Meta keywords"
                  ></v-text-field
                ></v-col>
                <v-row style="margin:10px">
                  <v-col cols="6">
                    <v-btn
                      color="rbga(0,0,0,0.5)"
                      style="border:0.5px solid #000"
                      text
                      @click="item.item.dialog = false"
                    >
                      Close
                    </v-btn>
                  </v-col>
                  <v-col cols="6"
                    ><v-btn
                      style="border-radius:0;color:#fff;background:#000;float:right;"
                      @click="editCategoriesMain(infoCatListOne, img_cover)"
                      >แก้ไข</v-btn
                    ></v-col
                  >
                </v-row>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </template>
      <!-- ข้อมูลของ categories ทั้งหมด และสามารถแก้ไขได้ตรงนี้เลย -->
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      img_cover: [],
      headers: [
        {
          text: "Id",
          align: "start",
          sortable: false,
          value: "id",
        },
        {
          text: "Name",
          value: "name",
        },
        {
          text: "Status",
          value: "status",
        },
        { text: "Detail", value: "detail" },
        { text: "Delete", value: "delete" },
      ],
      dataCategorylist: [],
      infoCatListOne: {},
      snackAlert: false,
      textAlert: "",
      nameCategoryMain: "",
    };
  },
  mounted() {
    this.getCategoriesList();
    this.nameMain();
  },
  methods: {
    ...mapActions({
      selectCategoriesList: "categories/select/list/selectCategoriesList",
      selectOne: "categories/select/list/selectOne",
      editStatus: "categories/edit/list/editStatus",
      deleteCategoriesList: "categories/delete/listDelete/deleteCategoriesList",
    }),
    async getCategoriesList() {
      const data = { id_category_main: this.$route.params.categorieslist };
      const res = await this.selectCategoriesList(data);
      const addDialog = res.map((edit) => {
        edit.dialog = false;
        return edit;
      });
      this.dataCategorylist = addDialog;
      // console.log(this.dataCategorylist);
    },
    async seeDetail(data) {
      data.dialog = true;
      const res = await this.selectOne(data);
      this.infoCatListOne = res[0];
    },
    //edit status
    async statusEdit(data) {
      const displayed = { id: data.id, displayed: data.displayed, img_cover: 1 };
      const res = await this.editStatus(displayed);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async editCategoriesMain(data, img) {
      const dataEdit = {
        id: data.id,
        name: data.name,
        meta_title: data.meta_title,
        meta_description: data.meta_description,
        meta_keywords: data.meta_keywords,
        newImg: img,
      };
      if (dataEdit.newImg.name) {
        dataEdit.img_cover = data.img_cover;
      }
      // console.log(dataEdit);
      const res = await this.editStatus(dataEdit);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.img_cover = [];
        this.getCategoriesList();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async categoriesDelete(data) {
      // console.log(data);
      if (confirm("คุณต้องการลบสิ่งนี้หรือไม่ ?")) {
        const res = await this.deleteCategoriesList(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
        this.getCategoriesList();
      }
    },
    async nameMain() {
      const data = {id:this.$route.params.categorieslist}
      const res = await this.$axios.$post('api/categories-name-by-id',data)
      this.nameCategoryMain = res[0]
    },
  },
};
</script>
