<template>
  <v-col cols="12" class="pa-0">
    <span>Catalog</span> > <nuxtLink to="/categories">Categories</nuxtLink> >
    <span>Add-catogory</span>
    <v-col cols="4">
      <h1>Add Catagories</h1>
    </v-col>
    <v-divider></v-divider>
    <FormAdd />
  </v-col>
</template>
<script>
import FormAdd from "@/components/categories/form_add";
export default {
  components: {
    FormAdd,
  },
};
</script>
