<template>
  <div>
    <v-col cols="12" class="pa-0">
      <span>Catalog</span> > <nuxtLink to="categories">Categories</nuxtLink>
      <v-row>
        <v-col cols="4">
          <h1>Categories</h1>
        </v-col>
        <v-col lg="8">
          <v-btn
            to="/categories/add-category"
            style="float:right"
            id="v-btn-add"
          >
            <v-icon>mdi-plus-circle-outline</v-icon> ADD CATEGORIES</v-btn
          >
        </v-col>
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <Table />
  </div>
</template>
<script>
import Table from "@/components/categories/table";
export default {
  components: {
    Table,
  },
};
</script>

<style>
#v-btn-add {
  border-radius: 0;
  background: #000;
  color: #fff;
}
</style>
