<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <span>You may also like</span>
    <v-row>
      <v-col cols="4">
        <h1>You may also like</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-col cols="12">
      <h2>เลือกเพิ่มสินค้าไปเมนูนี้</h2>
      <v-col cols="5" style="display: flex; align-items: center">
        <v-select
          v-model="picked"
          :items="nameProduct"
          item-value="id"
          label="เลือก"
        >
          <template v-slot:selection="{ item }">
            {{ item.name }}
          </template>
          <template v-slot:item="{ item }">
            {{ item.name }}
          </template>
        </v-select>
        <v-btn @click="addPicker()" style="margin-left: 10px; margin-top: -5px"
          >เพิ่ม</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-data-table
        :headers="headPicked"
        :items="pickedData"
        :sort-by="['rating']"
        :sort-desc="[false, true]"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            :src="`/api/v1/product/picture-product/${item.item.image}`"
            max-width="100"
            max-height="100"
          ></v-img>
        </template>
        <template v-slot:[`item.delete`]="item">
          <v-btn @click="deletePicked(item.item)" icon
            ><v-icon>mdi mdi-delete</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      picked: null,
      snackAlert: false,
      textAlert: "",
      headPicked: [
        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "name",
          value: "name",
        },
        {
          text: "Delete",
          value: "delete",
          width: "50",
        },
      ],
      pickedData: [],
      nameProduct: [],
    };
  },
  mounted() {
    this.getNameProduct();
    this.getProductPicked();
  },
  methods: {
    ...mapActions({
      nameProductForAdd: "homepage/select/bestsellers/nameProductForAdd",
      addYouMayAlsoLike: "you_may_also_like/addYouMayAlsoLike",
      pickedYouMayAlsoLike: "you_may_also_like/pickedYouMayAlsoLike",
      deletePickedYouMayAlsoLike:
        "you_may_also_like/deletePickedYouMayAlsoLike",
    }),
    async addPicker() {
      const data = { product_id: this.picked };
      const res = await this.addYouMayAlsoLike(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.getProductPicked();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async getProductPicked() {
      const res = await this.pickedYouMayAlsoLike();
      if (res.success) {
        this.pickedData = res.data;
      }
    },
    async getNameProduct() {
      this.nameProduct = await this.nameProductForAdd();
      //   console.log(this.nameProduct);
    },
    async deletePicked(data) {
      if (confirm("คุณต้องการจะลบสินค้าตัวนี้ใช่หรือไม่ ?")) {
        const res = await this.deletePickedYouMayAlsoLike(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getProductPicked();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>
