<template>
  <div>
    <v-col cols="12" class="pa-0">
      <v-row>
        <v-col cols="4">
          <h1>Customer</h1>
        </v-col>
        <!-- <v-col lg="8">
          <v-btn
            to="/categories/add-category"
            style="float: right"
            id="v-btn-add"
          >
            <v-icon>mdi-plus-circle-outline</v-icon> ADD CATEGORIES</v-btn
          >
        </v-col> -->
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <Table />
  </div>
</template>
<script>
import Table from "@/components/customer/customer-table";

export default {
  components: {
    Table,
  },
  data() {
    return {};
  },
};
</script>
