<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-data-table
      :headers="headers"
      :items="dataPayment"
      :items-per-page="20"
      class="elevation-1"
    >
      <template v-slot:[`item.order_number`]="item">
        {{ item.item.order_number }}
      </template>
      <template v-slot:[`item.detail_order`]="detail">
        <v-btn @click="seeDetail(detail.item)" icon
          ><v-icon>mdi-cart-outline</v-icon></v-btn
        >

        <v-dialog
          v-model="detail.item.dialogDetail"
          transition="dialog-top-transition"
          min-width="500"
          max-width="1000"
          max-height="500"
        >
          <v-col
            style="
              background: #ffff;
              min-width: 650px;
              min-height: 500px;
              position: relative;
            "
          >
            <v-col class="pa-2" style="background: #000; height: 50px">
              <h2 style="color: #ffffff">รายการสินค้า</h2>
            </v-col>
            <table
              id="table-detail-payment"
              style="width: 100%; border-collapse: collapse; margin-top: 20px"
            >
              <thead style="border: 1px solid #000">
                <tr>
                  <th>รายการสินค้า</th>
                  <th style="width:50px;">สี</th>
                  <th style="width:50px;">ขนาด</th>
                  <th>จำนวนสินค้า</th>
                  <th>ราคาสินค้า</th>
                  <th>รวมราคาสินค้า</th>
                  <th>หมายเหตุ</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, i) in detail.item.product_order"
                  :key="i"
                  style="text-align: center"
                >
                  <td>{{ item.name }}</td>
                  <td>
                    <span v-if="item.color != 0">{{ item.color }}</span
                    ><span v-else>-</span>
                  </td>
                  <td>
                    <span v-if="item.size != 0">{{ item.size }}</span
                    ><span v-else>-</span>
                    <span v-if="!item.size">-</span>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price - item.discount }}</td>
                  <td>{{ (item.price - item.discount) * item.quantity }}</td>
                  <td>
                    <input
                      @keypress.enter="addNote(detail.item.order_number)"
                      v-model="item.note"
                      type="text"
                      placeholder="ใส่หมายเหตุ"
                    />
                  </td>
                </tr>
                <tr style="text-align: center">
                  <th colspan="6" style="height: 50px; font-size: 24px">
                    ราคารวม
                  </th>
                  <td style="font-size: 20px">
                    {{
                      Intl.NumberFormat("th-TH", {
                        style: "currency",
                        currency: "THB",
                      }).format(detail.item.price)
                    }}.-
                  </td>
                </tr>
              </tbody>
            </table>
            <v-col>
              <h3>ที่อยู่ผู้รับ</h3>
              <h4>ชื่อผู้รับ: {{ addressShow.fullname }}</h4>
              <h4>
                ที่อยู่ผู้รับ: {{ addressShow.address }}
                {{ addressShow.parish }} {{ addressShow.district }}
                {{ addressShow.province }}
                {{ addressShow.zipcode }}
              </h4>
              <h4>เบอร์โทรศัพท์: {{ addressShow.phone_number }}</h4>
            </v-col>
            <v-btn
              @click="detail.item.dialogDetail = false"
              style="
                position: absolute;
                bottom: 10px;
                right: 10px;
                border-radius: 0;
                background: #000;
                color: #fff;
              "
              >close</v-btn
            >
          </v-col>
        </v-dialog>
      </template>

      <template v-slot:[`item.slip`]="item">
        <v-btn @click="seeSlip(item.item)" icon
          ><v-icon>mdi-file-image</v-icon></v-btn
        >
        <v-dialog
          v-model="item.item.dialogImage"
          persistent
          transition="dialog-top-transition"
        >
          <v-col>
            <img :src="`/api/v1/slip-img/${item.item.slip_image}`" style="max-width:300px;max-height:400px;" alt="" />
            <v-col class="pa-0">
              <v-btn
                @click="item.item.dialogImage = false"
                style="
                  float: right;
                  width: 100%;
                  margin-bottom: 10px;
                  background: #000;
                  border-radius: 0;
                  color: #fff;
                "
                >close</v-btn
              >
            </v-col>
          </v-col>
        </v-dialog>
      </template>
      <template v-slot:[`item.status`]="item">
        <select
          id="statusOrder"
          @change="changeStatus(item.item)"
          v-model="item.item.status"
          :style="item.item.colorText"
        >
          <option value="0" style="color: #000; font-size: 16px">
            เลือกสถานะ
          </option>
          <option value="1" style="color: #000; font-size: 16px">
            อยู่ระหว่างตรวจสอบ
          </option>
          <option value="2" style="color: #000; font-size: 16px">
            ตรวจสอบเรียบร้อย
          </option>
          <option value="3" style="color: #000; font-size: 16px">
            อยู่ระหว่างจัดส่งสินค้า
          </option>
          <option value="4" style="color: #000; font-size: 16px">
            ยกเลิกสินค้า
          </option>
        </select>
        <!-- <span v-if="item.item.status == 1" style="color:red">อยู่ระหว่างตรวจสอบ</span>
        <span v-if="item.item.status == 2" style="color:orange">{{item.item.status}}</span>
        <span v-if="item.item.status == 3" style="color:green">{{item.item.status}}</span> -->
      </template>
      <template v-slot:[`item.cut_order`]="item">
        <v-btn v-if="item.item.cut_order == 2" :disabled="true"
          >ตัดสินค้าเรียบร้อย</v-btn
        >
        <v-btn v-else-if="item.item.cut_order == 4" :disabled="true"
          >ยกเลิกสินค้า</v-btn
        >
        <v-btn
          v-else
          @click="cutOrder(item.item)"
          style="color: #fff; background: red"
          :disabled="item.item.disabled"
          >ตัดสินค้า</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      addressShow: {},
      textAlert: {},
      snackAlert: false,
      dataPayment: [],
      headers: [
        {
          text: "Order number",
          align: "start",
          sortable: false,
          value: "order_number",
        },
        { text: "Slip", value: "slip", sortable: false, align: "center" },
        {
          text: "Detail order",
          value: "detail_order",
          sortable: false,
          align: "center",
        },
        {
          text: "ตัดสินค้า",
          value: "cut_order",
          sortable: false,
          align: "center",
        },
        { text: "สถานะ", value: "status", sortable: false, align: "center" },
        { text: "วันที่ลูกค้าซื้อ", value: "created_at" },
      ],
    };
  },
  mounted() {
    this.dataPaymentShow();
  },
  methods: {
    ...mapActions({
      getPaymentBackend: "payment/getPaymentBackend",
      getProductAndAdress: "payment/getProductAndAdress",
      editStatus: "payment/editStatus",
      addNotePayment: "payment/addNotePayment",
      cutProductStock: "payment/cutProductStock",
    }),
    async dataPaymentShow() {
      const res = await this.getPaymentBackend();
      res.map((edit) => {
        edit.dialogImage = false;
        edit.dialogDetail = false;
        if (edit.status == 2) {
          edit.colorText = "color:green !important;";
        } else if (edit.status == 3) {
          edit.colorText = "color:green !important;";
        } else {
          edit.colorText = "color:red !important;";
        }
        if (edit.cut_order == 1) {
          edit.disabled = true;
        } else if (edit.cut_order == 0 && edit.status == 4) {
          edit.disabled = true;
        } else {
          edit.disabled = false;
        }
        edit.product_order = JSON.parse(edit.product_order);
        edit.created_at =
          edit.created_at.slice(0, 10) +
          " " +
          edit.created_at.slice(11, 16) +
          " น.";
      });
      console.log(res);
      this.dataPayment = res;
    },
    async addNote(item) {
      const data = [];
      for (let i = 0; i < this.dataPayment.length; i++) {
        if (this.dataPayment[i].order_number == item) {
          data.push(this.dataPayment[i]);
        }
      }
      const res = await this.addNotePayment(data);
      if (res.success) {
        this.textAlert = res.message;
        this.snackAlert = true;
        this.dataPaymentShow();
      } else {
        this.textAlert = res.message;
        this.snackAlert = true;
        this.dataPaymentShow();
      }
    },
    async seeSlip(data) {
      data.dialogImage = true;
    },
    async seeDetail(data) {
      const res = await this.getProductAndAdress(data);
      data.dialogDetail = true;
      if (res) {
        this.addressShow = res.address;
      }
      // console.log(res);
    },
    async changeStatus(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.textAlert = res.message;
        this.snackAlert = true;
        this.dataPaymentShow();
      } else {
        this.textAlert = res.message;
        this.snackAlert = true;
        this.dataPaymentShow();
      }
    },
    async cutOrder(data) {
      if (confirm("คุณแน่ใจว่าจะตัดสินค้าใช่หรือไม ?")) {
        const res = await this.cutProductStock(data);
        if (res.success) {
          this.textAlert = res.message;
          this.snackAlert = true;
          this.dataPaymentShow();
        } else {
          this.textAlert = res.message;
          this.snackAlert = true;
          this.dataPaymentShow();
        }
      }
    },
  },
};
</script>
<style>
#table-detail-payment,
#table-detail-payment td,
#table-detail-payment th {
  border: 1px solid black;
}
#statusOrder {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
#statusOrder option {
  height: 50px;
}
</style>
