<template>
  <div>
    <v-col cols="12" class="pa-0">
      <nuxtLink to="/Customer">Customer</nuxtLink> > <span>in-Cart</span>
      <v-row>
        <v-col cols="4">
          <h1>In-Cart</h1>
        </v-col>
      </v-row>
    </v-col>
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="dataInCartCustomer"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:[`item.in-cart`]="item">
        <v-btn :to="`/customer/in-cart/${item.item.id}`" icon
          ><v-icon>mdi-cart</v-icon></v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      headers: [
        { text: "ProductId", value: "product_id", sortable: false },
        { text: "Name", value: "name", sortable: false },
        { text: "Quantity", value: "quantity", sortable: false },
      ],
      dataInCartCustomer: [],
    };
  },
  mounted() {
    this.getInCartCustomer();
  },
  methods: {
    ...mapActions({
      inCartById: "customer/inCartById",
    }),
    async getInCartCustomer() {
      const res = await this.inCartById(this.$route.params.id);
      this.dataInCartCustomer = res;
    },
  },
};
</script>
