<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <span>Homepage</span> >
    <nuxtLink to="/homepage/best-sellers">best-sellers</nuxtLink>
    <v-row>
      <v-col cols="4">
        <h1>Best sellers</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="bestSellers"
      :sort-by="['rating']"
      :sort-desc="[false, true]"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:[`item.rating`]="item">
        <v-btn
          style="background: yellow; width: 30px; height: 30px"
          icon
          v-if="item.item.number == 1"
          >{{ item.item.number }}</v-btn
        >
        <v-btn
          style="background: #c0c0c0; width: 30px; height: 30px"
          icon
          v-if="item.item.number == 2"
          >{{ item.item.number }}</v-btn
        >
        <v-btn
          style="background: #b87333; width: 30px; height: 30px"
          icon
          v-if="item.item.number == 3"
          >{{ item.item.number }}</v-btn
        >
        <v-btn
          style="background: green; width: 30px; height: 30px"
          icon
          v-if="item.item.number > 3"
          >{{ item.item.number }}</v-btn
        >
      </template>
      <template v-slot:[`item.addNumber`]="item">
        <v-btn
          @click="addBestSellerForShow(item.item)"
          icon
          color="white"
          style="background: rgba(0, 0, 0, 0.5); width: 30px; height: 30px"
          ><v-icon>mdi mdi-plus</v-icon></v-btn
        >
      </template>
      <template v-slot:[`item.image`]="item">
        <v-img
          :src="`/api/v1/product/picture-product/${item.item.image}`"
          max-width="100"
          max-height="100"
        ></v-img>
      </template>
    </v-data-table>
    <v-col cols="12">
      <h2>สินค้าที่นำเอาไปโชว์หน้าเว็บในส่วนของ Bestsellers</h2>
      <v-col cols="5" style="display: flex; align-items: center">
        <v-select
          v-model="picked"
          :items="nameProduct"
          item-value="id"
          label="เลือก"
        >
          <template v-slot:selection="{ item }">
            {{ item.name }}
          </template>
          <template v-slot:item="{ item }">
            {{ item.name }}
          </template>
        </v-select>
        <v-btn @click="addPicker()" style="margin-left: 10px; margin-top: -5px"
          >เพิ่ม</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-data-table
        :headers="headPicked"
        :items="pickedData"
        :sort-by="['rating']"
        :sort-desc="[false, true]"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            :src="`/api/v1/product/picture-product/${item.item.image}`"
            max-width="100"
            max-height="100"
          ></v-img>
        </template>
        <template v-slot:[`item.delete`]="item">
          <v-btn @click="deletePicked(item.item)" icon
            ><v-icon>mdi mdi-delete</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      picked: null,
      snackAlert: false,
      textAlert: "",
      headers: [
        {
          text: "อันดับ",
          value: "rating",
          align: "center",
          width: "100",
        },
        {
          text: "เพิ่มไปโชว์หน้าเว็บ",
          value: "addNumber",
          align: "center",
          width: "150",
        },

        {
          text: "จำนานที่ขายได้",
          value: "quantity",
          width: "150",
          align: "center",
        },
        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "name",
          value: "name",
        },
      ],
      headPicked: [
        {
          text: "อันดับ",
          value: "rating",
          align: "center",
          width: "100",
        },
        { text: "Image", value: "image", align: "center", width: "120" },
        {
          text: "name",
          value: "name",
        },
        {
          text: "Delete",
          value: "delete",
          width: "50",
        },
      ],
      bestSellers: [],
      pickedData: [],
      nameProduct: [],
    };
  },
  mounted() {
    this.getProductBestSellers();
    this.pickedBestSellers();
    this.getNameProduct();
  },
  methods: {
    ...mapActions({
      bestSellersGet: "homepage/select/bestsellers/bestSellersGet",
      nameProductForAdd: "homepage/select/bestsellers/nameProductForAdd",
      bestSellerPicked: "homepage/select/bestsellers/bestSellerPicked",
      deletePickedBestsellers:
        "homepage/select/bestsellers/deletePickedBestsellers",
      addShowBestseller: "homepage/select/bestsellers/addShowBestseller",
    }),
    async addPicker() {
      const data = { product_id: this.picked };
      const res = await this.addShowBestseller(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.pickedBestSellers();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async getProductBestSellers() {
      const res = await this.bestSellersGet();
      let i = 1;
      res.map((addNumber) => {
        addNumber.number = i++;
      });
      // console.log(res);
      this.bestSellers = res;
    },
    async getNameProduct() {
      this.nameProduct = await this.nameProductForAdd();
      // console.log(this.nameProduct);
    },
    async addBestSellerForShow(data) {
      const res = await this.addShowBestseller(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.pickedBestSellers();
      } else {
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async pickedBestSellers() {
      const res = await this.bestSellerPicked();
      // console.log(res);
      if (res.success) {
        this.pickedData = res.data;
      }
    },
    async deletePicked(data) {
      if (
        confirm("คุณต้องการจะลบสินค้าตัวนี้ออกจาก Bestsellers ใช่หรือไม่ ?")
      ) {
        const res = await this.deletePickedBestsellers(data);

        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.pickedBestSellers();
        } else {
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>
