<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <span>Homepage</span> >
    <nuxtLink to="/homepage/carousel">carousel</nuxtLink>
    <v-row>
      <v-col cols="4">
        <h1>Carousel</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>

    <v-row class="mt-4">
      <v-col cols="12" lg="6">
        <v-carousel
          style="
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          "
        >
          <v-carousel-item
            v-for="(item, i) in carouselImage"
            :key="i"
            :src="`/homepage/v1/image-carousel/${item.carousel_image}`"
            reverse-transition="fade-transition"
            transition="fade-transition"
          ></v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col cols="12" lg="6">
        <v-col
          cols="12"
          style="
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          "
        >
          <h2>อัพโหลดรูปภาพสไลด์</h2>
          <v-file-input
            multiple
            v-model="carousel.image"
            label="อัพโหลดรูปสิ้นค้าภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
            accept="image/png, image/jpeg, image/gif"
            filled
            :clearable="false"
            prepend-icon="mdi-camera"
            @change="onFileChange"
          ></v-file-input>
          <v-btn
            @click="uploadCarousle()"
            style="border-radius: 0; background: #000; color: #fff"
            >Upload</v-btn
          >
          <v-text-field
            v-if="carousel.image"
            v-model="carouselAlt"
            class="mt-2"
            label="Carousel Image Alt "
            outlined
            clearable
          ></v-text-field>
        </v-col>

        <v-col
          v-if="imgBeforeUpload.length > 0"
          cols="12"
          class="mt-4"
          style="
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          "
        >
          <v-col class="pa-0">
            <v-row>
              <v-col
                v-for="(item, i) in imgBeforeUpload"
                :key="i"
                cols="4"
                style="
                  border: 1px solid rgba(0, 0, 0, 0.5);
                  position: relative;
                  box-shadow: 0 5px 5px red;
                "
              >
                <!-- <v-img :src=""></v-img> -->
                <img :src="item.blob" width="100%" alt="" />
                <div>
                  <v-btn
                    icon
                    @click="removeImage(item)"
                    style="
                      position: absolute;
                      right: 5px;
                      top: 5px;
                      color: #000;
                    "
                    ><v-icon style="border: 0.5px solid #fff"
                      >mdi-close-box</v-icon
                    ></v-btn
                  >
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-col>
      </v-col>
    </v-row>
    <v-container>
      <!-- <TableCarousel /> -->
      <v-data-table
        :headers="headers"
        :items="carouselImage"
        :items-per-page="20"
        class="elevation-10"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            max-width="100"
            max-height="100"
            :src="`/homepage/v1/image-carousel/${item.item.carousel_image}`"
          ></v-img>
        </template>
        <template v-slot:[`item.alt`]="item">
          <input
            type="text"
            v-model="item.item.carousel_alt"
            @keydown.enter="altEdit(item.item)"
            style="border: 1px solid rgba(0, 0, 0, 0.5); width: 100%"
          />
        </template>
        <template v-slot:[`item.rating`]="item">
          <input
            type="text"
            v-model="item.item.rating"
            @keydown.enter="ratingEdit(item.item)"
            style="
              width: 50px;
              border: 1px solid rgba(0, 0, 0, 0.5);
              text-align: center;
            "
          />
        </template>
        <template v-slot:[`item.status`]="item">
          <v-switch
            v-model="item.item.status"
            @click="statusEdit(item.item)"
          ></v-switch>
        </template>
        <template v-slot:[`item.delete`]="item">
          <v-btn icon @click="carouselDelete(item.item)"
            ><v-icon>mdi-trash-can-outline</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-container>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";
import TableCarousel from "@/components/homepage/table-carousel";

export default {
  components: {
    TableCarousel,
  },
  data() {
    return {
      headers: [
        {
          text: "Image",
          align: "start",
          sortable: false,
          value: "image",
          width: "100",
        },
        { text: "alt ภาพ", value: "alt" },

        { text: "อับดับภาพ", value: "rating", align: "center" },
        { text: "Status", value: "status" },
        { text: "Delete", value: "delete" },
      ],
      rating: [],
      carousel: [],
      imgBeforeUpload: [],
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
        },
      ],
      carouselImage: [],
      carouselAlt: "",
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.showCarouselImage();
  },
  methods: {
    ...mapActions({
      addCarousel: "homepage/create/carousel/addCarousel",
      selectImage: "homepage/select/carousel/selectImage",
      editStatus: "homepage/edit/carousel/editStatus",
      deleteCarousel: "homepage/delete/carousel/deleteCarousel",
    }),
    async uploadCarousle() {
      const data = {
        image: this.carousel.image,
        carousel_alt: this.carouselAlt,
      };
      const res = await this.addCarousel(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.carouselImage = [];
        this.carouselAlt = "";
        this.imgBeforeUpload = []
        this.showCarouselImage();
      }
    },
    async showCarouselImage() {
      const res = await this.selectImage();
      this.carouselImage = res;
    },
    async carouselDelete(data) {
      if (confirm("คุณแน่ใจว่าจะลบรูปนี้ใช่หรือไม่ ?")) {
        const res = await this.deleteCarousel(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.showCarouselImage();
        }
      }
    },
    async statusEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
    async altEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
    async ratingEdit(data) {
      const res = await this.editStatus(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.showCarouselImage();
      }
    },
    onFileChange(e) {
      e.map((showImage) => {
        this.imgBeforeUpload.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
    },
    removeImage(data) {
      const found = this.imgBeforeUpload.indexOf(data);
      this.imgBeforeUpload.splice(found, 1);
      this.carousel.image.splice(found, 1);
    },
  },
};
</script>
