<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <span>Homepage</span> >
    <nuxtLink to="/homepage/new-arrival">new-arrival</nuxtLink>
    <v-row>
      <v-col cols="4">
        <h1>New Arrival</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="newarrival"
        :sort-desc="[false, true]"
        :items-per-page="15"
        class="elevation-8"
      >
        <template v-slot:[`item.image`]="item">
          <v-img
            :src="`/api/v1/product/picture-product/${item.item.image}`"
            max-width="200"
            max-height="200"
          ></v-img>
        </template>
        <template v-slot:[`item.rating`]="item">
          <input
            type="text"
            v-model="item.item.rating"
            @keydown.enter="ratingEdit(item.item)"
            style="
              width: 50px;
              border: 1px solid rgba(0, 0, 0, 0.5);
              text-align: center;
            "
          />
        </template>
        <template v-slot:[`item.delete`]="item">
          <v-btn @click="newarrivalEdit(item.item)" icon
            ><v-icon>mdi-trash-can-outline</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      headers: [
        { text: "Rating", value: "rating", width: "100" },
        { text: "Image", value: "image", align: "center", width: "200" },
        {
          text: "Name",
          value: "name",
        },
        { text: "Delete", value: "delete" },
      ],
      newarrival: [],
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.getNewArrival();
  },
  methods: {
    ...mapActions({
      selectNewArrival: "homepage/select/newarrival/selectNewArrival",
      edtiNewArrival: "homepage/edit/newarrival/edtiNewArrival",
      editRating: "homepage/edit/newarrival/editRating",
    }),
    async getNewArrival() {
      const res = await this.selectNewArrival();
      this.newarrival = res.product;
      // console.log(res);
    },
    async newarrivalEdit(data) {
      if (confirm("คุณแน่ใจว่าต้องการลบใช่หรือไม่?")) {
        const res = await this.edtiNewArrival(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.getNewArrival();
        }
      }
    },
    async ratingEdit(data) {
      const res = await this.editRating(data);
      if (res.success) {
        this.snackAlert = true;
        this.textAlert = res.message;
        this.getNewArrival();
      }
    },
  },
};
</script>
