<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-col cols="12" class="pa-0">
        <span>Catalog</span> > <nuxtLink to="/product">Product</nuxtLink>
        <v-row>
          <v-col cols="4">
            <h1>Product</h1>
          </v-col>
          <v-col lg="8">
            <v-btn
              to="/product/add-product"
              style="float: right"
              id="v-btn-add"
            >
              <v-icon>mdi-plus-circle-outline</v-icon> ADD Product</v-btn
            >
          </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-col>
      <v-col id="add-product">
        <v-toolbar color="dark" dark flat>
          <v-tabs v-model="tab" align-with-title>
            <v-tabs-slider color="red"></v-tabs-slider>

            <v-tab v-for="item in items" :key="item">
              {{ item }}
            </v-tab>
          </v-tabs>
        </v-toolbar>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-col
              cols="12"
              style="border: 1px solid #000; border-radius: 0 0 5px 5px"
            >
              <h1>ข้อมูลพื้นฐาน</h1>
              <v-row>
                <v-col cols="12" lg="8">
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="12" lg="6">
                        <h2>ชื่อสินค้า</h2>
                        <v-text-field
                          v-model="productData.name"
                          @blur="requiredName(productData.name)"
                          label="ใส่ชื่อสินค้า"
                          :rules="nameRules"
                          outlined
                          clearable
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6">
                        <h2>
                          Brands
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-icon color="primary" v-bind="attrs" v-on="on"
                                >mdi-alert-octagon</v-icon
                              >
                            </template>
                            <span>เลือก Brands</span>
                          </v-tooltip>
                        </h2>
                        <select
                          v-model="productData.brand_id"
                          style="
                            border: 0.5px solid rgba(0, 0, 0, 0.3);
                            width: 100%;
                            padding: 13px;
                            border-radius: 3px;
                          "
                        >
                          <option
                            v-for="(item, i) in brands"
                            :key="i"
                            :value="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-file-input
                      multiple
                      v-model="productData.image"
                      label="อัพโหลดรูปสิ้นค้าภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
                      accept="image/png, image/jpeg, image/gif"
                      filled
                      :rules="imageProductRules"
                      :clearable="false"
                      prepend-icon="mdi-camera"
                      @change="onFileChange"
                    ></v-file-input>
                    <span v-if="productData.image">
                      <h3
                        v-if="productData.image.length > 0"
                        style="color: #000"
                      >
                        คลิกเพื่อเลือกรูปหลัก
                      </h3>
                    </span>
                    <v-row>
                      <v-col
                        cols="4"
                        v-for="(item, i) in imageForShow"
                        :key="i"
                        style="position: relative"
                      >
                        <span>
                          <v-img
                            @click="imgMain = i"
                            :class="{ selectImage: imgMain == i }"
                            max-height="250"
                            width="100%"
                            :src="item.blob"
                            :alt="item.name"
                          ></v-img>
                        </span>
                        <div>
                          <v-btn
                            icon
                            @click="removeImage(item)"
                            style="
                              position: absolute;
                              right: 10px;
                              top: 10px;
                              color: #000;
                            "
                            ><v-icon style="border: 0.5px solid #fff"
                              >mdi-close-box</v-icon
                            ></v-btn
                          >
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <h2>ข้อมูลสินค้า</h2>
                    <v-textarea
                      v-model="productData.description"
                      :rules="desRules"
                      outlined
                      name="input-7-4"
                      label="ข้อมูลสินค้าเบื่องต้น"
                      value=""
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <h2>อัพรูปรายละเอียดสินค้า</h2>
                    <v-file-input
                      multiple
                      v-model="productData.image_description"
                      :rules="desImageRules"
                      label="อัพโหลดรูปรายละเอียดภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
                      accept="image/png, image/jpeg, image/gif"
                      filled
                      :clearable="false"
                      prepend-icon="mdi-camera"
                      @change="onFileChangeOther"
                    ></v-file-input>
                    <v-row>
                      <v-col
                        cols="4"
                        v-for="(item, i) in imageDetailForShow"
                        :key="i"
                        style="position: relative"
                      >
                        <span>
                          <v-img
                            max-height="250"
                            width="100%"
                            :src="item.blob"
                            :alt="item.name"
                          ></v-img>
                        </span>
                        <div>
                          <v-btn
                            icon
                            @click="removeImageDetail(item)"
                            style="
                              position: absolute;
                              right: 10px;
                              top: 10px;
                              color: #000;
                            "
                            ><v-icon style="border: 0.5px solid #fff"
                              >mdi-close-box</v-icon
                            ></v-btn
                          >
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" class="pt-0">
                    <v-row>
                      <v-col>
                        <h2>สถานะสินค้า</h2>
                        <v-switch
                          class="pt-0"
                          v-model="productData.status"
                          label="สถานะเปิดใช้สินค้า"
                        ></v-switch>
                      </v-col>

                      <v-col>
                        <h2>สถาณะ New Arrival</h2>
                        <v-switch
                          class="pt-0"
                          v-model="productData.newarrival"
                          label="สถานะเปิดใช้สินค้า"
                        ></v-switch>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-col>
                <v-col lg="4" cols="12" class="pt-0 pb-0">
                  <v-checkbox
                    @click="mainProduct = !mainProduct"
                    label="สินค้าชิ้นเดียว"
                  ></v-checkbox>
                  <v-col
                    v-show="mainProduct"
                    style="padding-top: 0; padding-bottom: 0"
                  >
                    <h2>
                      จำนวนสินค้า
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" v-bind="attrs" v-on="on"
                            >mdi-alert-octagon</v-icon
                          >
                        </template>
                        <span>ใส่จำนานสินค้าที่มีตามจริง</span>
                      </v-tooltip>
                    </h2>
                    <v-text-field
                      v-model="productData.quantity"
                      label="ใส่จำนานสินค้า"
                      outlined
                      clearable
                    ></v-text-field>
                  </v-col>
                  <v-col style="padding-top: 0; padding-bottom: 20px">
                    <h2>
                      ราคาสินค้า และ ส่วนลด
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" v-bind="attrs" v-on="on"
                            >mdi-alert-octagon</v-icon
                          >
                        </template>
                        <span>ใส่ราคาสินค้าสกุลเงินบาท</span>
                      </v-tooltip>
                    </h2>
                    <v-col>
                      <v-row>
                        <v-col class="pa-0"
                          ><v-text-field
                            class="mr-2"
                            :rules="priceRules"
                            v-model="productData.price"
                            label="ใส่ราคา"
                            outlined
                            clearable
                          ></v-text-field
                        ></v-col>
                        <v-col class="pa-0"
                          ><v-text-field
                            class="mr-2"
                            v-model="productData.discount"
                            label="ใส่ส่วนลด"
                            outlined
                            clearable
                          ></v-text-field
                        ></v-col>
                      </v-row>
                    </v-col>
                    <v-col style="border: 1px solid #000">
                      <h2 class="pt-0">
                        Categories
                        <v-tooltip top>
                          <template v-slot:activator="{ on, attrs }">
                            <v-icon color="primary" v-bind="attrs" v-on="on"
                              >mdi-alert-octagon</v-icon
                            >
                          </template>
                          <span>เลือก Categories</span>
                        </v-tooltip>
                      </h2>
                      <Combobox @addInput="categoryData" />
                    </v-col>
                  </v-col>
                </v-col>
              </v-row>
            </v-col>
          </v-tab-item>
          <v-tab-item>
            <v-col
              cols="12"
              style="border: 1px solid #000; border-radius: 0 0 5px 5px"
            >
              <h1>SEO</h1>
              <v-col cols="12" lg="6">
                <v-col class="pa-0">
                  <h2>Meta title</h2>
                  <v-text-field
                    v-model="productData.meta_title"
                    label="ใส่ Meta title"
                    counter="255"
                    outlined
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col class="pa-0">
                  <h2>Meta description</h2>
                  <v-textarea
                    v-model="productData.meta_description"
                    outlined
                    name="input-7-4"
                    label="ใส่ Meta description"
                    value=""
                  ></v-textarea>
                </v-col>
                <v-col class="pa-0">
                  <h2>Meta keywords</h2>
                  <v-text-field
                    v-model="productData.meta_keywords"
                    label="ใส่ Meta keywords"
                    counter="70"
                    outlined
                    clearable
                  ></v-text-field>
                </v-col>
              </v-col>
            </v-col>
          </v-tab-item>
        </v-tabs-items>
      </v-col>
      <v-col
        style="
          position: fixed;
          padding: 0 !important;
          margin: 0 !important;
          z-index: 99;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 50px;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: flex-end;
          align-items: center;
        "
      >
        <v-btn
          id="v-btn-add"
          style="margin-right: 50px; background: #fe1442"
          to="/product"
          >Cancle</v-btn
        >
        <v-btn
          id="v-btn-add"
          style="margin-right: 50px"
          :disabled="disable"
          @click="saveProduct()"
          >Save</v-btn
        >
      </v-col>
    </v-form>
  </div>
</template>
<script>
import Combobox from "@/components/product/combobox";
import { mapActions } from "vuex";

export default {
  components: {
    Combobox,
  },
  data() {
    return {
      valid: true,
      nameRules: [
        (v) => !!v || "กรุณาใส่ชื่อ",
        (v) => (v && v.length <= 200) || "ชื่อยาวเกินไป",
      ],
      desRules: [
        (v) => !!v || "กรุณาใส่รายละเอียดสินค้า",
        // (v) => (v && v.length <= 250) || "รายละเอียดยาวเกินไป",
      ],
      desImageRules: [(v) => !!v || "กรุณาใส่รูปรายละเอียดสินค้า"],
      imageProductRules: [(v) => !!v || "กรุณาใส่รูปสินค้า"],
      priceRules: [(v) => !!v || "กรุณาใส่ราคา"],
      disable: true,
      tab: null,
      items: ["ข้อมูลพื้นฐาน", "SEO"],
      rules: [
        (value) =>
          !value ||
          value.size < 2000000 ||
          "Avatar size should be less than 2 MB!",
      ],
      productData: {
        color: null,
        size: null,
        brand_id: 1,
        status: 1,
        newarrival: 0,
      },
      category: null,
      brands: [],
      imageForShow: [],
      imageDetailForShow: [],
      imgMain: null,
      snackAlert: false,
      textAlert: "",
      mainProduct: false,
    };
  },
  watch: {},
  mounted() {
    this.brandsAll();
  },
  methods: {
    ...mapActions({
      selectBrands: "product/select/allBrands/selectBrands",
      addProduct: "product/create/create/addProduct",
    }),
    addSize(number) {
      if (number == 1) {
        this.productData.size = "Size S";
      }
    },
    addColor(number) {
      if (number == 1) {
        this.productData.color = "สีน้ำตาล";
      }
    },
    onFileChangeOther(e) {
      e.map((showImage) => {
        this.imageDetailForShow.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
    },
    onFileChange(e) {
      e.map((showImage) => {
        // console.log(showImage);
        this.imageForShow.push({
          blob: URL.createObjectURL(showImage),
          name: showImage.name,
        });
      });
      // console.log(this.imageForShow);
    },
    categoryData(data) {
      this.category = data;
    },
    async brandsAll() {
      const res = await this.selectBrands();
      this.brands = res;
      // console.log(this.brands);
    },
    requiredName(data) {
      if (data) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    async saveProduct() {
      if (this.category == null) {
        alert("กรุณาเลือก Category");
      } else if (this.category.length == 2) {
        alert("กรุณาเลือก Category");
      } else {
        if (this.$refs.form.validate()) {
          const data = {
            name: this.productData.name,
            color: this.productData.color,
            size: this.productData.size,
            image: this.productData.image,
            image_description: this.productData.image_description,
            discount: this.productData.discount || 0,
            brand_id: this.productData.brand_id,
            is_delete: 0,
            description: this.productData.description,
            price: this.productData.price || 0,
            quantity: this.productData.quantity || 0,
            main: this.imgMain,
            newarrival_status: this.productData.newarrival ? 1 : 0,
            category: this.category,
            status: this.productData.status,
            meta_title: this.productData.meta_title || this.productData.name,
            meta_description:
              this.productData.meta_description ||
              this.productData.description ||
              0,
            meta_keywords:
              this.productData.meta_keywords || this.productData.name || 0,
          };
          const res = await this.addProduct(data);
          if (res.success) {
            this.snackAlert = true;
            this.textAlert = res.message;
          }
        }
      }
    },

    removeImage(data) {
      const found = this.imageForShow.indexOf(data);
      this.imageForShow.splice(found, 1);
      this.productData.image.splice(found, 1);
      // console.log(this.imageForShow);
    },
    removeImageDetail(data) {
      const found = this.imageDetailForShow.indexOf(data);
      this.imageDetailForShow.splice(found, 1);
      this.productData.image_description.splice(found, 1);
      // console.log(this.imageForShow);
    },
  },
};
</script>
<style>
#v-btn-add {
  border-radius: 0;
  background: #000;
  color: #fff;
}
.selectImage {
  border: 5px solid green;
}
</style>
