<template>
  <div>
    <v-col cols="12" class="pa-0">
      <span>Catalog</span> > <nuxtLink to="/product">Product</nuxtLink>
      <v-row>
        <v-col cols="4">
          <h1>Product</h1>
        </v-col>
        <v-col lg="8">
          <v-btn to="/product/add-product" style="float:right" id="v-btn-add">
            <v-icon>mdi-plus-circle-outline</v-icon> ADD Product</v-btn
          >
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <Table />
    </v-col>
  </div>
</template>
<script>
import Table from "@/components/product/table-product";
export default {
  components: {
    Table,
  },
  data() {
    return {};
  },
};
</script>
<style>
#v-btn-add {
  border-radius: 0;
  background: #000;
  color: #fff;
}
</style>
