<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="productData.price"
        :rules="priceRules"
        label="price"
      >
      </v-text-field>
      <v-text-field
        v-model="productData.discount"
        :rules="discountRules"
        label="discount"
      >
      </v-text-field>
      <v-col cols="12" class="pa-0">
        <v-col class="pa-2 pl-0">
          <h2>ตัวเลือกสินค้าที่ 1</h2>
        </v-col>
      </v-col>
      <v-text-field v-model="productData.color" label="ตัวเลือกที่ 1"> </v-text-field>
      <!-- <v-text-field v-model="productData.code_color" label="code สี(กรณีเป็นสินค้าจำพวกสี)">
      </v-text-field> -->
      <v-col cols="12" class="pa-0">
        <v-col class="pa-2 pl-0">
          <h2>ตัวเลือกสินค้าที่ 2</h2>
        </v-col>
      </v-col>
      <v-text-field v-model="productData.size" label="ตัวเลือกที่ 2">
      </v-text-field>
      <v-text-field
        v-model="productData.quantity"
        :rules="quantityRules"
        label="จำนวน"
      >
      </v-text-field>
      <v-col v-if="image.length >= 1" cols="12">
        <v-row>
          <v-col
            v-for="(item, i) in image"
            :key="i"
            cols="3"
            style="position: relative"
          >
            <span style="position: absolute; top: 0; right: 0">
              <v-btn
                @click="deleteImageProductOther(item)"
                style="border:1px solid rgba(0,0,0,0.5"
                icon
                ><v-icon>mdi-trash-can</v-icon></v-btn
              >
            </span>
            <img
              :src="`/api/v1/product-other/${item.image}`"
              width="100%"
              alt=""
            />
          </v-col>
        </v-row>
      </v-col>
      <v-file-input
        multiple
        :rules="imageRules"
        v-model="productData.image"
        label="อัพโหลดรูปสิ้นค้าภาพขนาด 800 x 800 ไฟล์ jpg, gif or png"
        accept="image/png, image/jpeg, image/gif"
        filled
        :clearable="false"
        prepend-icon="mdi-camera"
      ></v-file-input>
      <v-btn
        style="background: #000; color: #fff; border-radius: 0"
        @click="editDataPdo()"
        >แก้ไขสินค้า</v-btn
      >
    </v-form>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      valid: true,
      priceRules: [(v) => !!v || "กรุณาใส่ราคา"],
      imageRules: [(v) => !!v || "กรุณาใส่รูปภาพ"],
      discountRules: [(v) => !!v || "กรุณาใส่ส่วนลด"],
      quantityRules: [(v) => !!v || "กรุณาใส่จำนวนสินค้า"],
      snackAlert: false,
      textAlert: "",
      productData: {},
      image: [],
    };
  },
  mounted() {
    this.getDataProductOther();
  },
  methods: {
    ...mapActions({
      editProductOther: "product/edit/editProductOther",
      editDataProductOther: "product/edit/editDataProductOther",
      deleteImagePdo: "product/delete/deleteImagePdo",
    }),
    async getDataProductOther() {
      const data = { id: this.$route.params.id };
      const res = await this.editProductOther(data);
      if (res.success) {
        this.productData = res.data;
        this.image = res.image;
      }
      //   console.log(res);
    },
    async editDataPdo() {
      const data = {
        id: this.$route.params.id,
        price: this.productData.price,
        discount: this.productData.discount,
        color: this.productData.color,
        code_color: this.productData.code_color || null,
        size: this.productData.size,
        code_size: this.productData.size,
        quantity: this.productData.quantity,
        image: this.productData.image,
      };
      const res = await this.editDataProductOther(data);
      if (res.success) {
        // this.image = res.image
        // console.log(this.image);
        this.snackAlert = true;
        this.textAlert = res.message;
      }
    },
    async deleteImageProductOther(data) {
      if (confirm("คุณแน่ใจว่าจะรูปภาพนี้ใช่หรือไม่ ?")) {
        const res = await this.deleteImagePdo(data);
        if (res.success) {
          this.getDataProductOther();
          this.snackAlert = true;
          this.textAlert = res.message;
        }
      }
    },
  },
};
</script>