<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>
    <v-data-table
      :headers="headers"
      :items="dataCustomer"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:[`item.information`]="item">
        <v-btn @click="getCustomerProfile(item.item)" icon
          ><v-icon>mdi-account</v-icon></v-btn
        >
        <v-dialog v-model="item.item.dialog" width="500">
          <v-card>
            <v-card-title
              class="text-h5"
              style="background: #7789c5; color: #fff"
            >
              ข้อมูลลูกค้า
            </v-card-title>
            <v-card-text class="pa-4">
              <h2 class="pa-2">ชื่อ: {{ profileData.fullname }}</h2>
              <h2 class="pa-2">เบอร์โทรศัพท์ {{ profileData.phone_number }}</h2>
              <h2 class="pa-2">
                วันเดือนปีเกิด:
                {{
                  profileData.day +
                  "-" +
                  profileData.month +
                  "-" +
                  profileData.year
                }}
              </h2>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="item.item.dialog = false">
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.in-cart`]="item">
        <v-btn :to="`/customer/in-cart/${item.item.id}`" icon
          ><v-icon>mdi-cart</v-icon></v-btn
        >
      </template>
      <template v-slot:[`item.address`]="item">
        <v-btn :to="`/customer/address/${item.item.id}`" icon
          ><v-icon>mdi-map</v-icon></v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      textAlert: {},
      snackAlert: false,
      profileData: [],
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "Username", value: "username", sortable: false },
        { text: "Email", value: "email", sortable: false },
        { text: "Information", value: "information", sortable: false },
        { text: "Address", value: "address", sortable: false },
        { text: "In Cart", value: "in-cart", sortable: false },
      ],
      dataCustomer: [],
    };
  },
  mounted() {
    this.getCustomer();
  },
  methods: {
    ...mapActions({
      customerData: "customer/customerData",
      profileCustomer: "customer/profileCustomer",
    }),
    async getCustomerProfile(data) {
      const res = await this.profileCustomer(data);
      if (res.success) {
        data.dialog = true;
        this.profileData = res.data;
      } else {
        console.log(res);
        this.textAlert = res.message;
        this.snackAlert = true;
      }
    },
    async getCustomer() {
      const res = await this.customerData();
      res.map((dialog) => {
        dialog.dialog = false;
      });
      this.dataCustomer = res;
    },
  },
};
</script>
