<template>
  <v-col class="pa-0" cols="12">
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar
    ><span>Homepage</span> >
    <nuxtLink to="/homepage/featured-brand">Featured brand</nuxtLink>
    <v-row>
      <v-col cols="4">
        <h1>Add Featured brand</h1>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-col>
      <v-form ref="form">
        <v-row style="width: 100%">
          <v-col class="pa-0">
            <v-file-input
              v-model="dataFeatured.image1"
              @change="onFileChangeFront"
              :rules="imageRules"
              accept="image/png, image/jpeg"
              placeholder="เลือดรูปภาพ Featured ที่อยู่ข้างหน้า"
              prepend-icon="mdi-camera"
              label="เลือดรูปภาพ Featured ที่อยู่ข้างหน้า"
            ></v-file-input>
          </v-col>
          <v-col class="pa-0">
            <v-file-input
              v-model="dataFeatured.image2"
              @change="onFileChangeBack"
              :rules="imageRules"
              accept="image/png, image/jpeg"
              placeholder="เลือดรูปภาพ Featured ที่อยู่ข้างหลัง"
              prepend-icon="mdi-camera"
              label="เลือดรูปภาพ Featured ที่อยู่ข้างหน้า"
            ></v-file-input>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="dataFeatured.alt"
              label="Alt รูปภาพ (มีผลต่อ SEO)"
              :rules="altRules"
              outlined
              clearable
              counter
              maxlength="100"
            ></v-text-field>
          </v-col>
          <v-col cols="12" id="featured" style="position: relative">
            <v-col class="imagefeatured1" style="--i: 1">
              <img :src="imagePreviewFront" style="z-index: 10" alt="" />
            </v-col>
            <v-col class="imagefeatured2" style="--i: 1">
              <img :src="imagePreviewBack" style="z-index: 9" alt="" />
            </v-col>
          </v-col>
          <v-btn
            @click="saveFeatured()"
            elevation="6"
            width="150"
            height="50"
            style="
              font-size: 30px;
              border-radius: 0;
              background: #000;
              color: #fff;
            "
            >บันทึก</v-btn
          >
        </v-row>
      </v-form>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      textAlert: {},
      snackAlert: false,
      ...mapActions({
        addCategories: "categories/categories/addCategories",
        getCategories: "categories/categories/getCategories",
        addlist: "categories/addListCategories/addlist",
      }),
      dataFeatured: [],
      imagePreviewFront: null,
      imagePreviewBack: null,
      imageRules: [(v) => !!v || "จำเป็นต้องใส่รูปภาพให้ครบ"],
      altRules: [
        (v) => !!v || "จำเป็นต้องใส่ alt เพื่อคุณภาพ SEO",
        (v) => (v && v.length <= 100) || "Alt ยาวเกินไป",
      ],
    };
  },
  methods: {
    ...mapActions({
      addFeatureBrand: "homepage/create/feature-brand/addFeatureBrand",
    }),
    onFileChangeFront(payload) {
      //const file = payload.target.files[0]; // use it in case of normal HTML input
      const file = payload; // in case vuetify file input
      if (file) {
        this.imagePreviewFront = URL.createObjectURL(file);
        URL.revokeObjectURL(file); // free memory
      } else {
        this.imagePreviewFront = null;
      }
    },
    onFileChangeBack(payload) {
      //const file = payload.target.files[0]; // use it in case of normal HTML input
      const file = payload; // in case vuetify file input
      if (file) {
        this.imagePreviewBack = URL.createObjectURL(file);
        URL.revokeObjectURL(file); // free memory
      } else {
        this.imagePreviewBack = null;
      }
    },
    async saveFeatured() {
      if (this.$refs.form.validate()) {
        const res = await this.addFeatureBrand(this.dataFeatured);
        if (res.success) {
          this.textAlert = res.message;
          this.snackAlert = true;
        }
      }
    },
  },
};
</script>
<style>
#featured {
  padding: 0;
}
#featured-start {
  text-align: center;
  font-style: italic;
  font-family: "PT Serif", serif !important;
  color: #ffffcc;
  font-size: 130px;
}
#featured .imagefeatured1 {
  position: absolute;
  left: 0;
  transition: 0.2s;
}
#featured .imagefeatured2 img {
  transition: 0.2s;
}
#featured .imagefeatured1 img,
#featured .imagefeatured2 img {
  max-width: 300px;
  max-height: 300px;
}

#featured .imagefeatured1,
.imagefeatured2 {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
/* #featured .imagefeatured1 {
  z-index: 10;
} */
#featured:hover .imagefeatured2 img {
  transition: 0.2s;
  transform: scale(1) translateX(calc(70px * var(--i)));
}
/* #featured .imagefeatured1 {
  max-width: 260px;
} */
</style>
