<template>
  <v-col class="pa-0" cols="12">
    <!-- <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>* -->
    <span>Homepage</span> >
    <nuxtLink to="/homepage/featured-brand">Featured brand</nuxtLink>
    <v-row>
      <v-col cols="4">
        <h1>Featured brand</h1>
      </v-col>
      <v-col lg="8">
        <v-btn
          to="/homepage/featured-brand/add-featured-brand"
          style="float: right"
          id="v-btn-add"
        >
          <v-icon>mdi-plus-circle-outline</v-icon> ADD featured brand</v-btn
        >
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <FeatureItem />
  </v-col>
</template>
<script>
import FeatureItem from "@/components/homepage/featureItem";
export default {
  components: {
    FeatureItem,
  },
};
</script>
