<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-col cols="12" class="pa-0">
      <nuxtLink to="/review-content">Review</nuxtLink> >
      <span>add-review-content</span>
      <v-divider></v-divider>

      <v-col cols="12">
        <v-row>
          <v-col
            cols="12"
            lg="6"
            sm="6"
            style="border: 1px solid rgba(0, 0, 0, 0.5)"
          >
            <h2>From add review</h2>
            <v-form ref="form">
              <v-text-field
                v-model="review.title"
                label="Title"
                :rules="rulesTitle"
                hide-details="auto"
              ></v-text-field>
              <v-text-field
                v-model="review.description_short"
                label="Description short"
                :rules="rulesTitle"
                hide-details="auto"
              ></v-text-field>
              <v-textarea
                v-model="review.description_full"
                counter="500"
                :rules="rulesTextArea"
                name="input-7-1"
                label="Description full"
                hint="Hint text"
              ></v-textarea>
              <v-file-input
                v-model="review.image"
                @change="onFileChange"
                :rules="rulesTitle"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="ภาพขนาด 900x900 Pixels "
                prepend-icon="mdi-camera"
                label="เลือกภาพขนาด 900x900 Pixels "
              ></v-file-input>
              <v-col cols="12" style="display: flex; justify-content: center">
                <v-btn
                  @click="addReviewContent()"
                  style="background: #7789c5; color: #fff"
                  >Create Review</v-btn
                >
              </v-col>
            </v-form>
          </v-col>
          <v-col cols="12" lg="6" sm="6">
            <v-card class="mx-auto" max-width="360" color="#c3d5f5">
              <span v-if="imagePreviewURL" class="pa-0">
                <img
                  :src="imagePreviewURL"
                  alt=""
                  style="width: 360px; height: 200px"
                />
              </span>
              <span v-else>
                <img
                  src="~assets/img/review11.png"
                  style="max-width: 360px"
                  height="200px"
                />
              </span>

              <v-card-title style="display: flex; justify-content: center">
                <span
                  v-if="review.title"
                  style="color: #7789c5; font-size: 30px"
                  >{{ review.title }}</span
                ><span v-else style="color: #7789c5; font-size: 30px"
                  >Title</span
                >
              </v-card-title>

              <v-card-subtitle style="display: flex; justify-content: center">
                <span
                  v-if="review.description_short"
                  style="color: #fff; font-size: 24px"
                  >{{ review.description_short }}</span
                ><span v-else style="color: #fff; font-size: 24px"
                  >description_short</span
                ></v-card-subtitle
              >
            </v-card>
          </v-col>
          <v-col cols="12" class="pa-0 mt-4">
            <v-row>
              <v-col cols="12" lg="6" sm="6" class="pa-0">
                <span v-if="imagePreviewURL" class="pa-0">
                  <img
                    :src="imagePreviewURL"
                    alt=""
                    style="width: 100%; height: 400px"
                  />
                </span>
                <span v-else>
                  <img
                    src="~assets/img/review-test.jpg"
                    style="width: 100%"
                    height="400px"
                  />
                </span>
              </v-col>
              <v-col
                cols="12"
                lg="6"
                sm="6"
                class="pa-0"
                style="background: #c3d5f5; position: relative"
              >
                <h4
                  style="
                    position: absolute;
                    top: 20px;
                    left: 0;
                    padding: 1px 10px 1px 40px;
                    background: #ffbadb;
                    color: #ffffcc;
                  "
                >
                  REVIEW
                </h4>
                <v-col class="mt-10">
                  <h2 style="font-size: 2rem; color: #7789c5">
                    <span
                      v-if="review.title"
                      style="color: #7789c5; font-size: 30px"
                      >{{ review.title }}</span
                    ><span v-else style="color: #7789c5; font-size: 30px"
                      >#Title Review</span
                    >
                  </h2>
                  <h5 style="font-size: 1.5rem; color: #fff; font-weight: 400">
                    <span
                      v-if="review.description_short"
                      style="color: #fff; font-size: 24px"
                      >{{ review.description_short }}</span
                    ><span v-else style="color: #fff; font-size: 24px"
                      >description_short</span
                    >
                  </h5>
                  <span style="color: #7789c5">
                    <span v-if="review.description_full">{{
                      review.description_full
                    }}</span
                    ><span v-else
                      >{{ text }} {{ text }}{{ text }}{{ text }}{{ text
                      }}{{ text }}{{ text }}{{ text }}{{ text }}</span
                    >
                  </span>
                </v-col>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      review: {},
      snackAlert: false,
      textAlert: "",
      rulesTitle: [(value) => !!value || "Required."],

      rulesTextArea: [
        (v) => !!v || "จำเป็นต้องใส่",
        (v) => (v && v.length <= 500) || "จำเป็นต้องใส่ให้น้อยกว่า 650",
      ],
      imagePreviewURL: null,
      text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit",
    };
  },
  methods: {
    ...mapActions({
      createReview: "review-content/createReview",
    }),
    onFileChange(payload) {
      //const file = payload.target.files[0]; // use it in case of normal HTML input
      const file = payload; // in case vuetify file input
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file); // free memory
      } else {
        this.imagePreviewURL = null;
      }
    },
    async addReviewContent() {
      if (this.$refs.form.validate()) {
        const data = {
          title: this.review.title,
          description_short: this.review.description_short,
          description_full: this.review.description_full,
          image: this.review.image,
        };
        const res = await this.createReview(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.review = {};
        }
      } else {
        this.$refs.form.validate();
      }
    },
  },
};
</script>
