<template>
  <div>
    <v-snackbar v-model="snackAlert" right top> {{ textAlert }}</v-snackbar>

    <v-col cols="12" class="pa-0">
      <!-- <span>Review</span> -->
      <v-row>
        <v-col cols="4">
          <h1>Review</h1>
        </v-col>
        <v-col lg="8">
          <v-btn
            to="/review-content/add-review-content"
            style="float: right"
            id="v-btn-add"
          >
            <v-icon>mdi-plus-circle-outline</v-icon> ADD Review Content</v-btn
          >
        </v-col>
        <v-col cols="12" id="data-table-review">
          <v-data-table
            :headers="headers"
            :items="dataReview"
            :items-per-page="10"
            class="elevation-1"
          >
            <template v-slot:[`item.image`]="item">
              <v-img
                :src="`/api/v1/review-image/${item.item.image}`"
                max-width="100"
                height="100"
              ></v-img>
            </template>
            <template v-slot:[`item.editdelete`]="item">
              <v-btn icon :to="`/review-content/edit/${item.item.id}`"
                ><v-icon>mdi-pencil</v-icon></v-btn
              >
              <v-btn icon @click="deleteReviewContent(item.item)"
                ><v-icon>mdi-delete-empty</v-icon></v-btn
              >
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <!-- <Table /> -->
    </v-col>
  </div>
</template>
<script>
import Table from "@/components/product/table-product";
import { mapActions } from "vuex";

export default {
  components: {
    Table,
  },
  data() {
    return {
      headers: [
        { text: "Image Content", value: "image", width: "120" },
        {
          text: "Title",
          align: "start",
          sortable: false,
          value: "title",
          width: "250",
        },
        { text: "Description Short", value: "description_short" },
        { text: "Edit&Delete", value: "editdelete" },
      ],
      dataReview: [],
      snackAlert: false,
      textAlert: "",
    };
  },
  mounted() {
    this.reviewAll();
  },
  methods: {
    ...mapActions({
      getReview: "review-content/getReview",
      deleteReview: "review-content/deleteReview",
    }),
    async deleteReviewContent(data) {
      if (confirm("คุณแน่ใจว่าจะลบสิ่งนี้ใช่หรือไม?")) {
        const res = await this.deleteReview(data);
        if (res.success) {
          this.snackAlert = true;
          this.textAlert = res.message;
          this.reviewAll();
        }
      }
    },
    async reviewAll() {
      const res = await this.getReview();
      this.dataReview = res;
      //  console.log(res);
    },
  },
};
</script>
<style>
/* #data-table-review .v-image__image{
  height: 150px;
} */
</style>
