<template>
  <v-row style="margin-top: 10px">
    <!-- card-user -->
    <v-col lg="4" cols="12">
      <v-card
        style="
          display: flex;
          align-items: center;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          padding: 15px;
        "
        height="130"
      >
        <v-row>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <h3 style="color: #7a7a7a; font-weight: 500">Cliend</h3>
              <span style="font-size: 2em">{{ numberUser }}</span>
            </div>
          </v-col>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <v-icon
                color="green"
                class="mdi mdi-account-multiple"
                size="50"
              ></v-icon>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <!-- card-user -->
    <!-- card-sale -->
    <v-col lg="4" cols="12">
      <v-card
        style="
          display: flex;
          align-items: center;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          padding: 15px;
        "
        height="130"
      >
        <v-row>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <h3 style="color: #7a7a7a; font-weight: 500">Sales</h3>
              <span style="font-size: 2em">$9,770</span>
            </div>
          </v-col>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <v-icon
                color="primary"
                class="mdi mdi-cart-outline"
                size="50"
              ></v-icon>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <!-- card-sale -->
    <!-- card-performance -->

    <v-col lg="4" cols="12">
      <v-card
        style="
          display: flex;
          align-items: center;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          padding: 15px;
        "
        height="130"
      >
        <v-row>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <h3 style="color: #7a7a7a; font-weight: 500">Performance</h3>
              <span style="font-size: 2em">999%</span>
            </div>
          </v-col>
          <v-col
            cols="6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div>
              <v-icon
                color="#23d160"
                class="mdi mdi-chart-areaspline"
                size="50"
              ></v-icon>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <!-- card-performance -->
  </v-row>
</template>
<script>
export default {
  props: {
    numberUser: {
      type: Number,
      default: 0,
    },
  },
};
</script>